
<style type="text/css">
*{
    transition: all 0.6s;
}

html {
    height: 100%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
    animation: type .5s alternate infinite;
    color: #035D9C;
}

.fof img{
	  width: 90px;
}

.fof a{
  color: #e02e7b;
}
.footer a:visited{
     color: #e02e7b;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #035D9C;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}



</style>



<div id="main">
  <div class="fof">
        <h1>Page non trouvée</h1>
        <br>
        <a href="https://hbc310.fr"><img alt="Site officiel du Handball Club 310" src="https://hbc310.fr/assets/images/logo_transp.png" /></a><br>
        Retour sur le site
  </div>
</div>