<span class="is-hidden-mobile">
    <img alt="Site officiel du Handball Club 310" src="{{site.url}}/{{site.banner}}">
</span>
<span class="is-hidden-tablet">
    {% if page.url == "/" %}
        <img alt="Site officiel du Handball Club 310" src="{{site.url}}/{{site.banner-mobile-home}}" style="width: 100%;">
    {% else %}
        <img alt="Site officiel du Handball Club 310" src="{{site.url}}/{{site.banner-mobile}}" style="width: 100%;">
    {% endif %}     
   
    
</span>