

<div class="columns is-multiline">


    {% for acces in page.acces-rapides %}
    <div class="column is-4 ">
        <div class="card card-bloc-home" >
            <div class="card-content has-{{acces.color}}-effect"  style="height: 100%">
                
                        <p class="title is-4 has-text-white">{{acces.title}}</p>
                        <p class="subtitle has-text-white">{{acces.subtitle}}</p>
                        <div class="">
                            <a href="{{site.url}}{{acces.link}}" class="button is-light">Plus d'infos</a>
                        </div>
                    
            </div>
            
        </div>
        
    </div>
    {% endfor %}

    

</div>