{% if page.sexe == "F" %}
    {%assign style = "dark"%}
    {%assign styleTitle = "title-fille"%}
{% else %}
    {%assign style = "primary"%}
    {%assign styleTitle = "title-gars"%}
{% endif %}




        <div id="Informations" class="columns is-multiline is-10-desktop is-10-tablet is-12-mobile">

          <div class="column is-6 ">
              <div class="card card-bloc-team-info" >
                  <div class="card-content has-background-{{style}}"  style="height: 100%">
                      
                    <p class="title is-4 has-text-white">Categorie</p>
                    <p class="subtitle has-text-white">{% if page.sexe == "G" %}
                      Joueurs nés
                    {% elsif page.sexe == "F" %}
                      Joueuses nées
                    {% else if page.sexe == "M" %}
                      Joueuses et joueurs nés 
                    {% endif %}
                    {{ page.ages}}</p>
                  </div>
              </div>
          </div>
          
        <div class="column is-6 ">
            <div class="card card-bloc-team-info" >
                <div class="card-content has-background-light "  style="height: 100%">
                    
                  <p class="title is-4 has-text-grey-darker">Coach(s)</p>
                  <p class="subtitle has-text-grey-darker">{{ page.coach }}</p>
                </div>
            </div>
        </div>


        {% for entrainement in site.data.entrainements %}
          {% for creneau in entrainement.creneaux %}

            {% for team in creneau.teams %}

            
              {% if team == page.code  %}
                  {% assign gymnase = site.data.places | where: "code", creneau.place |first  %}


                  <div class="column is-6 ">

                    <div class="card has-background-light card-bloc-team-info">
                      <div class="card-content" style="height: 100%">
                        <p class="title is-4 has-text-grey-darker">
                          Entraînement
                        </p>
                        <p class="subtitle has-text-grey-darker">{{ entrainement.day | capitalize }}, {{ creneau.start}}-{{ creneau.end}}</p>
                        <p>
                          <a href="{{ "/gymnases/" | prepend: site.url }}#{{gymnase.code}}" >
                            <span class="has-text-grey-darker" >
                              {{ gymnase.nom}}, {{ gymnase.commune}}
                            </span>
                          </a>
                        </p>
                        <p>
                          <span class="is-pulled-right">
                            {%for tag in creneau.tags %}
                              <span class="tag is-{{style}}">{{tag}}</span>       
                            {% endfor%}
                          </span>
                        </p>
                      </div>
                      
                    </div>
                  </div>
               
              
              {% endif %}    
         
              {% endfor %} 
       
        {% endfor %} 
          
      {% endfor %}

      
          
      
      </div>