<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.url}}/assets/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">