<nav id="fil-ariane" class="breadcrumb " aria-label="breadcrumbs">
    <ul>
        <li ><a href="{{site.url}}/">Accueil</a></li>
        {% for subElt in page.ariane-sub-elements %}
            <li ><a href="{{site.url}}{{subElt.url}}" aria-current="page">{{subElt.title | truncatewords: 5 }}</a></li>
        {%endfor%}
        <li class="is-active" ><a href="#" aria-current="page">{{page.title | truncatewords: 5 }}</a></li>
    </ul>
</nav>