<footer class="footer">
    <div class="container">

      <nav class="level">
        <p class="level-item has-text-centered">
          <a href="{{site.url}}/mentions-legales/" class="link is-info">Mentions légales</a>
        </p>
        <p class="level-item has-text-centered">
          <img alt="Site officiel du Handball Club 310" src="{{site.url}}/assets/images/logo_transp.png" alt="" style="height: 128px;">
        </p>
        <p class="level-item has-text-centered">
          <a class="link is-info" href="{{site.url}}/rgpd/">Données personnelles</a>
        </p>
      </nav>
      <br>
      <hr>
      <br>
      <div class="columns is-multiline is-mobile">
          <div class="column is-9-tablet is-6-mobile">
            <h4 class="title is-5">Equipes</h4>
                {% assign sortedTeams = site.teams | sort: 'title' %}
                <div class="columns is-multiline">

                  {% for team in sortedTeams %}
                  <div class="column is-6">

                      <a href="{{site.url}}{{ team.url }}" >{{ team.title }}</a>
                  
                    </div>


                  {% endfor %}
                </div>
          </div>
          
          <div class="column is-3-tablet is-6-mobile">
            <h4 class="title is-5">Gymnases</h4>
            <div class="columns is-multiline">
                {% for place in site.data.places %}
                <div class="column is-12">
                  <a href="{{site.url}}/gymnases/#{{ place.code}}">{{ place.commune}}, {{ place.nom}}</a>
                </div>
                {% endfor %}
            </div>
            
            <br>
            <span class="is-hidden-mobile">
              <h4 class="title is-5">Entraînements</h4>
            </span>
          <span class="is-hidden-tablet">
            <h4 class="title is-5">Créneaux</h4>
          </span>
          <br>

            <div class="columns is-multiline">
                {% assign days = "Lundi,Mardi,Mercredi,Jeudi,Vendredi,Samedi" | split: ','%}
                {% for day in days %}
                    <div class="column is-12"><a href="{{site.url}}/entrainements/#{{day | downcase }}">{{day}}</a></div>
                  {% endfor %}

            </div>
          </div>
          
        </div>
      

      <br>
      <hr>
      <br>
      <div class="has-text-centered">
        Handball Club 310 © 2024<br>
        Tous droits réservés.
      </div>



      

      

</footer>

