<a title="Contactez-nous" class="navbar-item" href="{{ site.url }}/contact/" >
    <span class="icon gh-sponsor "><i class="far fa-envelope "></i></span>
</a>
<a title="Facebook" class="navbar-item" href="{{site.data.social['facebook']}}" rel="nofollow noreferrer noopener" target="_blank">
    <span class="icon gh-sponsor"><i class="fab fa-facebook-f"></i></span>
</a>
<a title="Instagram" class="navbar-item" href="{{site.data.social['instagram']}}" rel="nofollow noreferrer noopener" target="_blank">
    <span class="icon gh-sponsor"><i class="fab fa-instagram"></i></span>
</a>
<a title="Twitter" class="navbar-item" href="{{site.data.social['twitter']}}" rel="nofollow noreferrer noopener" target="_blank">
    <span class="icon gh-sponsor"><i class="fab fa-twitter"></i></span>
</a>
<a title="Youtube" class="navbar-item" href="{{site.data.social['youtube']}}" rel="nofollow noreferrer noopener" target="_blank">
    <span class="icon gh-sponsor"><i class="fab fa-youtube"></i></span>
</a>