<!-- Affichage du post mis en avant -->
{% for post in site.posts %}
    {% if post.tags contains "mise-en-avant_header" %}
    
        <section class="hero is-dark bandeau-message" style="padding-bottom: 15px;padding-top: 15px;position: relative;
        z-index: 30;" >
            <div class="container has-text-centered">
                {{post.title }}
                <span class="is-hidden-mobile">
                - 
                </span>
                <span class="is-hidden-tablet">
                    <br>
                </span>
                 <a href="{{site.url}}{{post.url }}">Plus d'infos</a>
            </div>
        </section>
        {% break %}
    {% endif %}
{% endfor %}