<head>

  {% include header-cookie-policy.html %}

  <link rel="canonical" href="{{ site.url }}{{page.url}}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e02e7b" />
    <title>{{ page.title }} - {{ site.title }}</title>






    <link rel="stylesheet" href="{{ site.url }}/assets/css/app.css">

    <link rel="stylesheet" href="{{ site.url }}/assets/css/bulma-quickview.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bulma-list.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bulma-switch.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bulma-steps.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bulma-calendar.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/bulma-checkradio.min.css">


    

    <script src="{{ site.url }}/assets/js/app.js" type="text/javascript"></script>
    <script src="{{ site.url }}/assets/js/embed-ui.min.js" type="text/javascript"></script>
    <script src="{{ site.url }}/assets/js/all.min.js"></script>
    <script src="{{ site.url }}/assets/js/bulma-quickview.min.js"></script>
    <script src="{{ site.url }}/assets/js/bulma-calendar.min.js"></script>


    <script src="{{ site.url }}/assets/js/jquery-2.2.4.min.js"></script>



    
    <script src="{{ site.url }}/assets/js/iframeresizer/iframeResizer.min.js"></script>


    {% include current_week_number.html %}



    



{% include favicon.html %}

    {% include meta-facebook.html %}

    {%- include head-scripts.html -%}
</head>
