<script type="text/javascript" src="{{ site.url }}/assets/js/tarteaucitron/tarteaucitron.js"></script>

    <script type="text/javascript">
    tarteaucitron.init({
    "privacyUrl": "", /* URL de la page de la politique de vie privée */

    "hashtag": "#tarteaucitron", /* Ouvrir le panneau contenant ce hashtag */
    "cookieName": "tarteaucitron", /* Nom du Cookie */
    "groupServices": true, /* Group services by category */
    "orientation": "bottom", /* Position de la bannière (top - bottom) */
    "showAlertSmall": false, /* Voir la bannière réduite en bas à droite */
    "cookieslist": false, /* Voir la liste des cookies */
    "DenyAllCta" : true, /* Show the deny all button */
    "adblocker": false, /* Voir une alerte si un bloqueur de publicités est détecté */
    "AcceptAllCta" : true, /* Voir le bouton accepter tout (quand highPrivacy est à true) */
    "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
    "handleBrowserDNTRequest": true, /* Si la protection du suivi du navigateur est activée, tout interdire */
    "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */
    "removeCredit": true, /* Retirer le lien vers tarteaucitron.js */
    "moreInfoLink": true, /* Afficher le lien "voir plus d'infos" */
    "useExternalCss": false, /* Si false, tarteaucitron.css sera chargé */
    "showIcon": true, /* Show cookie icon to manage cookies */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Cookie multisite */
                      
      "readmoreLink": "/rgpd", /* Lien vers la page "Lire plus" */

      "mandatory": false, /* Show a message about mandatory cookies */
    });
    </script>


<script type="text/javascript">
  (tarteaucitron.job = tarteaucitron.job || []).push('scoreandco');
  (tarteaucitron.job = tarteaucitron.job || []).push('helloasso');


  tarteaucitron.user.onesignalAppId = 'f48aab4b-2688-48f4-af36-8a9c5a093998';
  (tarteaucitron.job = tarteaucitron.job || []).push('onesignal');
    
    </script>


