<section class="hero is-small is-primary">
    <div class="hero-body has-handball-effect" style="padding-top:0px;padding-right:0px;padding-left:0px">
        <div class="container">
            <div class="columns" style="margin-left: 0px;margin-right: 0px;" >
                <div class="column ">
                    <a href="{{site.url}}/"> <img src ="{{site.url}}/assets/images/logo_2023_transp.png" alt="HBC310" loading="lazy"></a>

                    <div class="navbar-end is-hidden-desktop" style="position: absolute;top: 15px; right: 15px;">
                        <a href="#" data-show="quickview" data-target="quickviewDefault"><i class="fas fa-bars navbar-burger burger "></i></a>
                    </div>

                    
                </div>
                <div class="column is-hidden-touch">
                    <div class="navbar-end " >
                        {% include header-icons-lins.html %}
                    </div>

                    

                    <nav class="navbar " >
                        <div class="container">
                    
                            
                            
                        
                    
                            <div class="navbar-menu" id="navMenu"  >
                                <div class="navbar-start" style="margin-left: auto;">
                    
                    
                    
                                    {% if site.data.navigation %}
                                    {% for item in site.data.navigation %}
                                        {% if item.dropdown %}
                                        <div class="navbar-item has-dropdown is-hoverable has-text-white" style="font-size: 1.2em;;
                                        font-weight: 500;">
                                            <a href="{{ item.link | prepend: site.url }}" class="navbar-link {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                                            <div class="navbar-dropdown">
                                                {% for subitem in item.dropdown %}
                                                <a href="{{ subitem.link | prepend: site.url }}" class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% else %}
                                        <a href="{{ item.link | prepend: site.url }}" class="navbar-item {% if item.link == page.url %}is-active{% endif %} "
                                        style="font-size: 20px;
                                        font-weight: 500;"
                                        >{{ item.name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>

                    
                            </div>
                        </div>
                    </nav>
            

                </div>
            </div>

      

            {% if page.url == "/" %}
                <nav class="level is-hidden-mobile " style="padding-left: 20px;">
                    <!-- Left side -->
                
                    <div class="level-left ">
                        <div class="level-item">
                            <img  src="{{site.url}}/assets/images/partners/FFHB_LOGO_LIGUE_BRETAGNE_FD_FC_RVB.png" loading="lazy" alt="ligue_bretagne" style="width: 166px;">
                        </div>
                    </div>

                    <div class="level-right ">

                        <div class="level-item">
                            <figure class="image is-96x96">
                                <img  src="{{site.url}}//assets/images/badges/FFHB_LOGO_BABYHAND_Q-150x150.png" loading="lazy" alt="label_babyhand">
                            </figure>
                        </div>

                        <div class="level-item">
                            <figure class="image is-96x96">
                                <img  src="{{site.url}}//assets/images/badges/FFHB_LOGO_MINIHAND_Q-150x150.png" loading="lazy" alt="label_minihand">
                            </figure>
                        </div>

                        <div class="level-item">
                            <figure class="image is-96x96">
                                <img  src="{{site.url}}//assets/images/badges/pratiques_handloisir-150x150.png" loading="lazy" alt="label_loisir">
                            </figure>
                        </div>

                        <div class="level-item">
                            <figure class="image is-96x96">
                                <img  src="{{site.url}}/assets/images/badges/FFHB_LOGO_HANDFIT_Q-150x150.png" loading="lazy" alt="label_handfit">
                            </figure>
                        </div>
                    </div>
                        

        

                </nav>

                <div class="container is-hidden-tablet">

                    <div class="columns is-mobile is-multiline is-centered">
                        <div class="column is-narrow">
                            <figure class="image is-64x64">
                                <img  src="{{site.url}}//assets/images/badges/FFHB_LOGO_BABYHAND_Q-150x150.png" loading="lazy" alt="label_babyhand">
                            </figure>
                        </div>
                        <div class="column is-narrow">
                            <figure class="image is-64x64">
                                <img  src="{{site.url}}//assets/images/badges/FFHB_LOGO_MINIHAND_Q-150x150.png" loading="lazy" alt="label_minihand">
                            </figure>
                        </div>
                        <div class="column is-narrow">
                            <figure class="image is-64x64">
                                <img  src="{{site.url}}//assets/images/badges/pratiques_handloisir-150x150.png" loading="lazy" alt="label_loisir">
                            </figure>
                        </div>

                    <div class="column is-narrow">
                        <figure class="image is-64x64">
                            <img  src="{{site.url}}/assets/images/badges/FFHB_LOGO_HANDFIT_Q-150x150.png" loading="lazy" alt="label_handfit">
                        </figure>
                    </div>
                    <div class="column is-narrow">
                        <img src="{{site.url}}/assets/images/partners/FFHB_LOGO_LIGUE_BRETAGNE_FD_FC_RVB.png"  loading="lazy" style="height: 55px;" alt="{{ lastPartner.title }}, partenaire du HBC310">
                    </div>
                </div>
            {% endif %}

        </div>
        
    </div>
    
</section>
