
<section class="hero is-light" > 
    <div class="hero-body" >
    
<div class="container">

    
            <div class="columns is-multiline is-mobile is-centered is-vcentered">
                <div class="column is-7-desktop column is-7-tablet is-12-mobile">
                    <h1 class="title is-4" > {{page.title}} </h1> 

                    <h2 class="subtitle is-5"> {{page.subtitle}} </h2>
                
                <br>
                {% include fil-ariane.html %}

                </div>
                <div class="column is-5-desktop column is-5-tablet is-12-mobile">
                    <div class="field is-grouped is-grouped-multiline is-pulled-right">  

                        {% if page.sexe != "F" %}
                        {% assign styleButton = 'primary' %}
                    {% else %}
                        {% assign styleButton = 'dark' %}
                    {% endif %}




                        {% for filter in page.filters-buttons %}
                        
                            {% if filter.label == 'equipes' %}
                            
                                <div class="control ">
                                    <div class="select is-{{styleButton}}" onChange='filterElement("filtre-equipes")'>
                                        <select id="filtre-equipes" name="filtre-equipes" >
                                            <option value="-1" selected>Toutes les équipes</option>
                                            {% for cat in page.categories %}
                                                {% for team in site.teams %}
                                                    {% if team.categorie == cat.code %}
                                                        <option value="{{team.code}}">{{team.title}}</option>
                                                    {% endif %}
                                                {%endfor %} 
                                            {%endfor %}
                                        </select>
                                    </div>
                                </div>
                            

                            {% elsif filter.label == 'equipes-compet' %}
                            
                                <div class="control ">
                                    <div class="select is-{{styleButton}}" onChange='filterElement("filtre-equipes")'>
                                        <select id="filtre-equipes" name="filtre-equipes" >
                                            <option value="-1" selected>Toutes les équipes</option>
                                                {% for team in site.teams %}
                                                    {% for equipe in team.equipes %}
                                                        <option value="{{team.code}}-{{equipe.equipe}}">{{team.title}} {{equipe.equipe}}</option>
                                                    {%endfor %} 
                                                {%endfor %} 

                                        </select>
                                    </div>
                                </div>

                                {% elsif filter.label == 'equipes-level' %}
                            
                                {% if page.equipes.size > 1 %}
                                    <div class="control is-hidden">
                                        <div class="select is-{{styleButton}}" onChange='filterElement("filtre-equipes")'>
                                            <select id="filtre-equipes" name="filtre-equipes" >
                                                {% for element in page.equipes %}
                                                    <option value="equipe{{element.equipe}}">Equipe {{element.equipe}}</option>
                                                {%endfor %} 
                                            </select>
                                        </div>
                                    </div>
                                {% endif %}
                            

                            {% endif %}
                        {% endfor %}


                    
                    {% for link in page.header-buttons %}

                        
                    <div class="control {{link.class}}"> 
                    {% assign checkArray = link.link | split:'http' %}

                    {% if link.link != null %}
                        <a class="button is-{{styleButton}} " href="{{ link.link | prepend: site.url }}">{{link.label}}</a> 
                    {% elsif link.external-link != null %}
                        <a class="button is-{{styleButton}} " href="{{ link.external-link }}" target="_blank" rel="nofollow noreferrer noopener">{{link.label}}</a> 
                    {% elsif link.anchor != null %}
                        <a class="button is-{{styleButton}} " href="#{{link.anchor}}" >{{link.label}}</a> 
                    {% endif %}
            
                    </div> 
                {% endfor %}

                
                    
                    
                    </div> 
                </div>
            </div>
     
    
</div>

</div>
</section>
<br>
            
       
