  
    <section class="hero is-dark has-dark-effect"> 
        <div class="hero-body"> 
             <div class="container"> 
                 <div class="columns is-mobile is-centered is-vcentered is-multiline"> 
                     <div class="column is-8-tablet is-12-mobile"> 
                         
                         <div class="title"> Rejoignez-nous sur les réseaux sociaux </div> 
                         <div class="subtitle"> #TeamHBC310 </div> 
                     </div> 
                     <div class="column is-1-tablet is-3-mobile"> 
 
                         
                             <a href="{{site.data.social['facebook']}}" target="_blank" rel="nofollow noreferrer noopener">
                                 <img alt="Rejoignez la communauté du Handball Club 310 sur Facebook" src="{{ '/assets/images/facebook.svg' | prepend: site.url }}" style="width: 70px;">
                             </a>
                         
                     </div>  
                     <div class="column is-1-tablet is-3-mobile"> 
                     
                         
                             <a href="{{site.data.social['instagram']}}" target="_blank" rel="nofollow noreferrer noopener">
                                <img alt="Rejoignez la communauté du Handball Club 310 sur Instagram" src="{{ '/assets/images/instagram.svg' | prepend: site.url }}" style="width: 70px;">
                             </a>
                         
                     </div>
                     <div class="column is-1-tablet is-3-mobile"> 
                     
                         
                        <a href="{{site.data.social['twitter']}}" target="_blank" rel="nofollow noreferrer noopener">
                           <img alt="Rejoignez la communauté du Handball Club 310 sur Twitter" src="{{ '/assets/images/twitter.svg' | prepend: site.url }}" style="width: 70px;">
                        </a>
                    
                </div>
                 </div>
             </div>
         </div>
             
     </section>