


<div class="columns is-multiline id-desktop has-background-light">
    {% assign postlimit-view = 3 %}

    {%for tag in page.tags_news 4%}
        {% assign countByTag = 0 %}    

        {% for post in site.posts %}
            {% if post.tags contains tag %}
                {% capture countByTag %}{{ countByTag | plus:1 }}{% endcapture %}



                {% assign countByTagAsNumber = countByTag | plus: 0 %}

                {% if countByTagAsNumber > postlimit-view   %}
                    {% break %}
                {% endif %}

                {% assign classVisibility = "is-hidden" %}
                
                {% if tag=="a la une" %}
                    {% assign classVisibility = "is-visible" %}
                {% endif %}
                <div id="{{tag}}-{{countByTagAsNumber}}" class="column is-4-desktop is-12-mobile is-4-tablet frontend-news {{classVisibility}}" >
                    

                   

                    <div class="card has-background-light" style="box-shadow: none;">

                        <div class="card-image ">
                            <a  href="{{ site.url }}{{ post.url }}">
                            <figure class="image is-5by4"  >

                                {%if post.images.size >= 1 %}
                                <img src="{{site.url}}{{ post.images[0] }}" alt="{{ post.title }}" style="object-fit: scale-down;margin-top: 0px;" loading="lazy"/></figure>
                            {%else %}
                                <img src='{{ "/uploads/images/pages/equipes/default.png" | prepend: site.url }}' alt="{{ post.title }}" style="object-fit: scale-down;margin-top: 0px;" loading="lazy"/></figure>
                            {% endif %}


                            </a>       

                        </div>

                        <div class="card-header" style="height: 72px;align-items: center; box-shadow: none;">
                            <p class="card-header-title ">
                                {{post.title}}
                            </p>
                            <div class="dateHomeBadge"><span class="day">{{post.date | date: "%d" }} </span><span class="month">{{post.date | month_to_french | truncate: 4, "" }}</span></div>
    
                        </div>

                        <p class="is-size-7 ">
                            {{post.content | strip_html | truncate: 90}}
                        </p>
                        <br>
                        
                        <span class="is-hidden-mobile">
                            <a  href="{{ site.url }}{{ post.url }}"  style="text-decoration: underline;">Lire la suite</a>
                        </span>  
                    </div>
                    
                    
                
                </div>
            {%endif%}
    
        {% endfor %}
    
    {%endfor%}


   


</div>
<br>

