
<div class="has-text-centered">
    

    <small>Le {{ include.message.date | date_to_french_without_year }} : <i>{{include.message.contenu}}</i>
    
    {%if include.message.lien != null and include.message.lien != "" %}
        <a href="{{site/url}}{{include.message.lien}}" class="  is-underlined">Plus d'infos</a></small>
    {%endif%}

</div>

