<div class="columns is-mobile">
    <div class="column is-3-tablet is-3-mobile">
        <img src="{{site.url}}//uploads/images/boutique/home/emoition-20-veste-hbc310.webp" alt="Découvrez la veste sur la boutique du HBC310" >
    </div>
    <div class="column is-3-tablet is-3-mobile">
        <img src="{{site.url}}//uploads/images/boutique/home/poly-shirt-hbc310.webp" alt="Découvrez le maillot sur la boutique du HBC310" >
    </div>
    <div class="column is-3-tablet is-3-mobile">
        <img src="{{site.url}}//uploads/images/boutique/home/short-homme-hbc310.webp" alt="Découvrez le short sur la boutique du HBC310" >
    </div>
    <div class="column is-3-tablet is-3-mobile">
        <img src="{{site.url}}//uploads/images/boutique/home/veste-zippee-homme-hbc310.webp" alt="Découvrez la veste zipée sur la boutique du HBC310" >
    </div>
    
</div>