
<div class="list "  style=" margin-top: 20px;">


{% assign nbArticles = 15 %}                    

{% for post in site.posts limit:nbArticles offset:0%}
    {% assign classNews = "news" %}

    {% if post.tags contains "important" %}
        {% assign classNews = "news-important" %}
    {% endif %}

    {% if forloop.last == true %}
        {% assign classNews = "news-more" %}

        
        <a class="{{classNews}} list-item" href="{{site.url }}/blog/" >                           
            <strong>Plus d'actus</strong>
        </a>
        
    {% else %}
        <a class="{{classNews}} list-item " href="{{ site.url }}{{ post.url }}" >                             

            <span title="{{post.title}}" class="news-title-actus"><strong>{{post.title}}</strong></span> <br> <small>Le {{ post.date | date_to_french }}</small>
        </a>
    {% endif %}






{% endfor %}
</div>