<h2 class="title is-4">Fil infos</h2>


{% assign nbArticles = 6 %}        

<table class="table" style="font-size: 14px; margin-top: 10px; width: 100%;">
    <tbody>
        {% for post in site.posts limit:nbArticles offset:0%}
            {% assign classNews = "news" %}
            <tr>
                <td>
                    <a  href="{{ site.url }}{{ post.url }}" class="has-text-black">
                        <div class="columns is-mobile">
                            <div class="column is-narrow">
                                {%if post.images.size >= 1 %}
                                    <img alt="{{post.title}}" src="{{site.url}}{{ post.images[0] }}" style="width: 48px;" loading="lazy">
                                {%else %}
                                    <img alt="HBC310 - {{post.title}}" title="HBC310 - {{post.title}}" src='{{ "/uploads/images/pages/equipes/default.png" | prepend: site.url }}' loading="lazy" style="width: 48px;"/>

                                {% endif %}
                            </div>
                            <div class="column">
                                <span title="{{post.title}}" class="news-title-actus ellipsis is-ellipsis-1"><strong>{{post.title}}</strong></span>
                                <small>Le {{ post.date | date_to_french_without_year }}</small>
                                <br>
                                {%for tag in post.tags %}
                                    {% assign class = "" %}
                                    {% if tag == "important" %}
                                        {% assign class = "is-dark" %}
                                    {% endif %}
                                <span id="tag" class="tag {{class}}">{{tag | capitalize }}</span>
                            
                                {% endfor %}
                          
                            </div>
                        </div>
                        
                    </a>
                </td>
                
            </tr>


        {% endfor %}

    </tbody>
</table>