

{% assign event310 = '' %}
{% assign homeIs310 = false %}

{% assign winnerIs310 = false %}
{% assign draw = false %}




{% for event in date[1].events %}

    {% if event.teams[0].name  contains  "HANDBALL CLUB 310" %}
        {% assign event310 = event %}
        {% assign homeIs310 = true %}
        {% break %}
    {% elsif event.teams[1].name  contains  "HANDBALL CLUB 310" %}
        {% assign event310 = event %}
        {% assign homeIs310 = false %}
        {% break %}
    {% endif %}
{% endfor %}

{% if homeIs310 == true and event310.teams[0].score > event310.teams[1].score %}
    {% assign winnerIs310 = true %}
{% elsif homeIs310 == false and event310.teams[1].score > event310.teams[0].score %}
    {% assign winnerIs310 = true %}
{% endif %}
{% if event310.teams[0].score == event310.teams[1].score %}
    {% assign draw = true %}
{% endif %}


{% assign score = '' %}
{% if event310.teams[0].score != null %}
    {% assign score = event310.teams[0].score | append: " - " | append: event310.teams[1].score %}
               
{% endif %}


<div class="card is-shadowless is-slightly-rounded box sample">
    <header class="card-header">
        <span class="card-header-title is-inline">
            
            {% if event310.date.day != null %}
                J{{event310.date.day}}
                {% if event310.date.date != null %}
                    
                    {% if event310.date.date != null %}
                        , {{event310.date.date}} {{event310.date.hour}}:{{event310.date.minute}}
                    {% else %}
                        , Date non précisée
                    {% endif%}


                    {% if score != '' %}
                        {% if draw == true %}
                            <span class="tag is-light is-pulled-right">{{ score}}</span>
                        {% elsif winnerIs310 == true %}
                            <span class="tag is-success is-pulled-right">{{ score}}</span>
                        {% else %}                    
                            <span class="tag is-danger is-pulled-right">{{ score}}</span>
                        {% endif %}
                    {% endif %}
                
                {% endif %}
                {% else %}
                    Exempt
                {% endif %}

          
          
            
        </span>
     
            
        
      </header>
   
    <div class="card-content">
        <div class="content">

 

            
                <span class=" is-capitalized">
                    {% if homeIs310 %}
                        <b>
                    {% endif %}
                    {{event310.teams[0].name}} 
                    {% if homeIs310 %}
                        </b>
                    {% endif %}
                    <br>
                    {% if homeIs310 == false %}
                        <b>
                    {% endif %}
                    {{event310.teams[1].name}} 
                    {% if homeIs310 == false %}
                        </b>
                    {% endif %}
                    
                </span>
           
            
            <p>
             

                  

                  
            </p>


            {% assign char1 = event310.CON_CODE_RENC | slice: 0 %}
            {% assign char2 = event310.CON_CODE_RENC | slice: 1 %}
            {% assign char3 = event310.CON_CODE_RENC | slice: 2 %}
            {% assign char4 = event310.CON_CODE_RENC | slice: 3 %}

            {% assign urlFdm = "https://www.ffhandball.fr/api/s3/fdm/" %}
            {% assign urlFdm = urlFdm | append: char1 %}
            {% assign urlFdm = urlFdm | append: "/" %}
            {% assign urlFdm = urlFdm | append: char2 %}
            {% assign urlFdm = urlFdm | append: "/" %}
            {% assign urlFdm = urlFdm | append: char3 %}
            {% assign urlFdm = urlFdm | append: "/" %}
            {% assign urlFdm = urlFdm | append: char4 %}
            {% assign urlFdm = urlFdm | append: "/" %}
            {% assign urlFdm = urlFdm | append: event310.CON_CODE_RENC %}
            {% assign urlFdm = urlFdm | append: ".pdf" %}
          {% if score != '' %}
                <b><a target="_blank" href="{{urlFdm}}" title="Feuille de match"><span class="tag is-light is-pulled-right">Feuille de match</span></a></b>
                <br>

                {% endif %}
            
        </div>

        
    </div>


    <!--<footer class="card-footer">
       

        <span class="icon has-text-dark" title="Stats">
            <i class="far fa-chart-bar"></i>
        </span>
      </footer>-->
</div>