



{% for team in site.teams %}	
{% if team.pools.size == 0 %}
        {% continue %}
{% endif %}
{% for idxPool in (0..50) %}
    {% if idxPool == team.pools.size or team.pools == null  %}
        {% break %}
    {% endif %}
    {% assign pool = team.pools[idxPool] %}
    
    {% for datematch in site.data.ffhb.[pool.code].dates %}	
   
        {% for event in datematch[1].events %}	

            {% if event.teams[0].name  contains  "HANDBALL CLUB 310" 
            or event.teams[1].name  contains  "HANDBALL CLUB 310" %}
            
        

                {%assign matchDateFormat = event.date.date | date: "%Y/%m/%d" %}
              
                {%assign dateMatch = event.date.date | date: "%Y-%m-%d" %}    
                
                {% assign dateFormatFFHB = dateMatch | date: "%d/%m/%Y" %}
               
                
                {% if dateFormatFFHB == include.dateCalendrier%}

                        <div class="box">
                            <article class="media">
                              
                              <div class="media-content">
                                <div class="content">
                                  <p>
                                    <strong>{{team.title}}</strong>  <small>{{event.date.hour}}:{{event.date.minute}}</small>
                                    <br>
                                    
                                  </p>
                                </div>
                                <nav class="level is-mobile">
                                  <div class="level-left">
                                    {% if event.teams[0].name  contains  "HANDBALL CLUB 310" %}
                                    <span class="icon has-text-info" title="A domicile">
                                      <i class="fas fa fa-home"></i>
                                    </span><small>{{ event.teams[1].name }}</small>
                                      {% else %}
                                      <span class="icon has-text-grey-light" title="A l'extérieur">
                                          <i class="fas fa fa-car"></i>
                                      </span><small>{{ event.teams[0].name }}</small>
                                  {% endif %}

                                    
                                    
                                  </div>
                                </nav>
                              </div>
                            </article>
                          </div>



                {% endif %}
              
            {% endif %}
        {% endfor %} <!-- end for events -->

    {% endfor %} <!-- end for dates -->
                
{% endfor %}<!-- end for pools -->
{% endfor %}<!-- end for teams -->





