<div id="quickviewDefault" class="quickview has-background-primary">
    <header class="quickview-header ">
      <p class="title has-text-white is-size-4">Handball Club 310</p>
      <span class="delete" data-dismiss="quickview"></span>
    </header>
  
    <div class="quickview-body ">
      <div class="quickview-block">
        
        <div class="list has-background-primary is-shadowless" >
        
            {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                    {% if item.dropdown %}
                    <div class="navbar-item has-dropdown is-hoverable is-size-5">
                        <a href="{{ item.link | prepend: site.url }}" class="navbar-link {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                        <div class="navbar-dropdown">
                            {% for subitem in item.dropdown %}
                            <a href="{{ subitem.link | prepend: site.url }}" class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <a href="{{ item.link | prepend: site.url }}" class="navbar-item {% if item.link == page.url %}is-active{% endif %} is-size-5"
                   
                    >{{ item.name }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>



      </div>
    </div>
  
    <footer class="quickview-footer has-background-primary">
        {% include header-icons-lins.html %}
    </footer>
  </div>