<nav class="navbar  " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{site.url}}/">
        <img src="{{site.url}}/assets/images/hbc310.png" height="50">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  

    
    <div id="navbarBasicExample" class="navbar-menu">
      <span class="is-hidden-touch">
        <div class="navbar-start">
          {% include header-icons-lins.html %}
        </div>
      </span>
  
      <div class="navbar-end">
        {% if site.data.navigation %}
        {% for item in site.data.navigation %}
            {% if item.dropdown %}
            <div class="navbar-item has-text-white has-dropdown is-hoverable" >
                <a href="{{ item.link | prepend: site.url }}" class="navbar-link {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                <div class="navbar-dropdown ">
                    {% for subitem in item.dropdown %}
                    <a href="{{ subitem.link | prepend: site.url }}" class=" navbar-item {% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <a href="{{ item.link | prepend: site.url }}" class="navbar-item {% if item.link == page.url %}is-active{% endif %} "
            
            >{{ item.name }}</a>
            {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </nav>