<nav class="pagination is-centered">
    {% if paginator.previous_page %}
    <a href="{{ site.url }}{{ paginator.previous_page_path }}" class="pagination-previous is-primary">Page précédente</a>
    {% else %}
    <p class="pagination-previous" disabled>Page précédente</p>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ site.url }}{{ paginator.next_page_path }}" class="pagination-next is-primary">Page suivante</a>
    {% else %}
    <p class="pagination-next" disabled >Page suivante</p>
    {% endif %}
    <ul class="pagination-list">
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li><a class="pagination-link is-current is-dark">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-link">{{ page }}</a></li>
        {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="pagination-link">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>