<div class="container" > 
  
      
        <div class="columns is-mobile is-multiline is-centered " style="
        margin-right: 0px;
        margin-left: 0px;"> 
            
            
                    {% assign enterprisePartners = site.data.partners | where: "type", "entreprise" %}

                    {% for partner in enterprisePartners %}
            
                                       
                        <div class="column is-narrow">
                            
                                    <figure class="image is-64x64">
                                        <img alt="{{ partner.title }} soutient le Handball Club 310 " src="{{site.url}}/{{ partner.logo }}" loading="lazy">
                                    </figure>
                                
                        </div>
                     
            
                    {% endfor %}
                    
            

        </div> 
       
<br><br>
    
</div>
</div>

