<div class="container" > 
    <br><br>

    <div class="title-wrapper has-text-centered">
        <h3 class="title is-4" > Le HBC 310 remercie ses partenaires</h3> 
    </div>
            
    <br><br>
    
    <div class="columns is-centered is-vcentered is-multiline is-mobile " style="width: 100%;"> 
        
        
                {% for partner in site.data.partners %}
        
                    {% if partner.type != "entreprise" %}
                    
            
                    <div class="column is-narrow">
                        
                                <figure class="image is-128x128">
                                    <img alt="{{ partner.title }} soutient le Handball Club 310 " src="{{site.url}}/{{ partner.logo }}" loading="lazy">
                                </figure>
                            
                    </div>
                    {% endif %}
        
                {% endfor %}

    </div> 

    <br>

    <div class="title-wrapper has-text-centered">
        <a  href="{{ "/partenaires/" | prepend: site.url }}" class="button is-primary is-medium">
            Plus d'infos
        </a>
    </div>

    <br>

</div>

    

