<div class="container" > 
    <br><br>

    <div class="title-wrapper has-text-centered">
        <h3 class="title is-4" > Le HBC 310 remercie ses partenaires</h3> 
    </div>
            
    <br><br>
    
    <div class="columns is-centered is-vcentered is-multiline is-mobile " style="width: 100%;margin-right: 0px;margin-left: 0px;"> 
        {% assign partner_by_order = site.data.partners | sort: "order-header" %}
        {% for partner in partner_by_order %}
            {% if partner.type == "institutionnel" %}
            <div class="column is-narrow">
                <figure class="image is-128x128">
                    <img alt="{{ partner.title }} soutient le Handball Club 310 " src="{{site.url}}/{{ partner.logo }}" loading="lazy">
                </figure>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="columns is-centered is-vcentered is-multiline is-mobile " style="width: 100%;margin-right: 0px;margin-left: 0px;"> 
        {% for partner in site.data.partners %}
            {% if partner.type == "entreprise" %}
            <div class="column is-narrow">
                <figure class="image is-96x96">
                    <img alt="{{ partner.title }} soutient le Handball Club 310 " src="{{site.url}}/{{ partner.logo }}" loading="lazy">
                </figure>
            </div>
            {% endif %}
        {% endfor %}
    </div> 

    <br>

    <div class="title-wrapper has-text-centered">
        <a  href="{{ "/partenaires/" | prepend: site.url }}" class="button is-primary is-medium">
            Plus d'infos
        </a>
    </div>

    <br>

</div>

    

