
<div class="box " >
    <div class="has-text-centered">

    <strong>{{post.title | truncatewords: 4}}</strong> 
            <br>
            <small>Le {{ post.date | date_to_french }}</small><br><br>
        </div>
            <figure class="image is-4by3">

                <a class="card-header-title" href="{{ site.url }}{{ post.url }}">
                
                {% if post.images.size == 0 %}
                    <img src="{{ '/uploads/images/default_news.png' | prepend: site.url }}" alt="{{ post.title }}" style="object-fit: cover;"/>
                {% else %}
                    <img src="{{site.url}}{{ post.images[0] }}" alt="{{ post.title }}" style="object-fit: cover;"/>
                {% endif %}
                </a> 
            </figure>
         

</div>