<p>
    <strong>Partager la page</strong>
</p>

<div class="buttons  is-centered  is-pulled-left">
    <a class="button is-medium share-facebook " title="Partager sur Facebook" rel="nofollow noreferrer noopener"
       onclick="window.open('https://www.facebook.com/share.php?u={{ page.url | prepend: site.url }}?utm_source=share&utm_medium=social&utm_campaign=facebook');">
        <span class="icon"><i class="fab fa-facebook fa-lg"></i></span>
    </a>
    <a class="button is-medium share-twitter" rel="nofollow noreferrer noopener"
       onclick="window.open('https://twitter.com/intent/tweet?text={{ page.url | prepend: site.url }}?utm_source=share&utm_medium=social&utm_campaign=twitter');" title="Partager sur Twitter">
        <span class="icon"><i class="fab fa-twitter fa-lg"></i></span>
    </a>
<!--    <a class="button is-medium share-email"
       href="mailto:?Subject=HBC 310 - {{page.title}} &amp;Body={{ page.url | prepend: site.url | append: '?utm_source=share&utm_campaign=email'}}"
       title="Partager par email">
        <span class="icon"><i class="fab fa-envelope fa-lg"></i></span>
    </a>

-->


</div>

