{% if page.sponsors %}
{% assign tiers=site.data.[page.sponsors] %}
    <div class="columns is-multiline">
        {% for tier in tiers %}
        <div class="column is-12">
            <p class="title is-3 has-text-centered">
                <span>{{ tier.tier_name }}</span>
            </p>
            <div class="columns is-centered">
                <div class="column is-6 content has-text-centered">
                    <p>{{ tier.description | markdownify }}</p>
                </div>
            </div>

            <div class="columns is-multiline is-centered">
                {% for membre in tier.membres %}
                <div class="column {% if tier.size == 'large' %} is-4-desktop is-6-tablet {% else %} is-3-desktop is-4-tablet {% endif %}" style="display: flex;">
                    <div class="box has-text-centered" style="width: 100%;">
                        <p class="title {% if tier.size == 'large' %} is-4 {% elsif tier.size == 'small' %} is-6 {% else %} is-5 {% endif %}">
                            {{ membre.name }}
                        </p>
                        {% if membre.soustitre %}
                        <p class="subtitle is-6">
                            {{ membre.soustitre }}
                        </p>
                        {% endif %}
                        {% if membre.email %}
                        <p class="subtitle is-6">
                            {{ membre.email }}
                        </p>
                        {% endif %}
                        <p class="subtitle is-6">
                            {% if membre.avatar %}
                                <img alt="{{ membre.name }}, membre du Handball Club 310" class="rounded-circle z-depth-2" style="height: 50px;width: 50px;" src="{{site.url}}/{{sponsor.avatar}}" />
                            {% else %}
                                <img alt="{{ membre.name }}, membre du Handball Club 310" class="rounded-circle z-depth-2" style="height: 50px;width: 50px;" src="{{site.url}}/assets/images/logo_transp.png" />
                            {% endif %}

                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="column is-12">
            <hr />
        </div>
        {% endfor %}
    </div>
{% endif %}