
<div class="container"> 
    <div class="columns is-vcentered"> 
        <div class="column is-12"> 
            <div class="section-header"> 
                <h1 class="title is-1"> Nos équipes<span class="is-hidden-touch"><br></span> </h1> 
                <h2 class="subtitle is-4"> De l'école de Hand aux loisirs </h2>

             

            </div> 
        </div> 
        

        


    </div> 
</div>
<br><br>
                    











<div class="columns is-mobile is-multiline is-centered">

  {%for t in page.teams |offset:0,limit:3%}
  {% capture classBg %}{% cycle 'is-primary has-primary-effect','is-dark has-dark-effect' %}{% endcapture %}

      <div class="column is-4-desktop is-6-tablet is-12-mobile is-flex">
        <div class="hero {{classBg}}" style="border-radius: 8px;  ">
          <div class="hero-body" style="padding: 24px;">
          {% assign team = site.teams | where: "code",  t |first  %}

          <p class="title">{{team.title}}</p>
          <p class="subtitle">{{team.subtitle}}</p>
          <a href="{{ team.url | prepend: site.baseurl }}">
            <!--<figure class="image is-4by3 is-marginless	">-->
              < src="{{site.url}}{{team.images[0]}}" style="bottom: 0px;">
             <!--</figure>-->
          </a>
        </div>
        </div>
      </div>



  

{%endfor%}

</div>

</div>  

   


      
</div> 
<div class="title-wrapper has-text-centered">
                              <a class="button is-primary is-medium" href="{{ "/equipes/" | prepend: site.baseurl }}">Toutes nos équipes</a> 

  <!--<h3 class="subtitle is-5 is-muted"></h3>-->
</div>
<br><br>