{% assign match = include.match %}

{% assign colWidth = 12 %}
{% if page.hide_classement %}
    {% assign colWidth = 4 %}
{% endif %}

  <div class="column is-{{colWidth}}-desktop is-6-tablet is-12-mobile">        
      
    {% assign styleMatch = "" %}
    {% if match.score1 and match.score1 != "-" and match.score2 != "-"%}
        {% assign styleMatch = "has-background-light" %}
    {% endif %}
      <div class="box {{styleMatch}}">
          <p class="subtitle is-6 has-text-grey-darker has-text-centered">J{{match.day_number}}</p>
          {% if match.location == 'HOME' %}
              {% assign team1 = "HBC310" %}
              {% assign team2 = match.team2 %}

              {% assign logo1 = "uploads/images/logos/hbc310.png" %}

              {% assign teamNameWithoutNumber = match.team2 | strip %}
              {% assign teamNameLength = teamNameWithoutNumber | size | minus: 2 %}
              {% assign teamNumber = teamNameWithoutNumber | slice: -1 %}
              
              {% if teamNumber == "1" or teamNumber == "2" or teamNumber == "3" or teamNumber == "4" or teamNumber == "5" or teamNumber == "6" %}
              {% assign teamNameWithoutNumber = teamNameWithoutNumber | slice: 0, teamNameLength %}
              {% endif %}

              {% assign logoUrl = null %}
              {% for logo in site.data.ffhb.logos %}
                  {% for key-word in logo.key-words %}
                      {% if key-word == teamNameWithoutNumber %}
                          {% assign logoUrl = logo.logo %}
                          {% break %}
                      {% endif %}
                  {% endfor %}
                  {% if logoUrl != null %} 
                      {% break %}
                  {% endif %}
              {% endfor %}

              {% assign logo2 = logoUrl %}

          {% else %}
              {% assign team1 = match.team1 %}
              {% assign team2 = "HBC310" %}

              {%if team1 contains "310" or team1 contains "ENT BREAL BRUZ MORDELLES HB" %}
                {% assign team1 = match.team2 %} 
                {% assign team2 = "HBC310" %}
              {% endif %}

              {% assign logo2 = "uploads/images/logos/hbc310.png" %}

              {% assign teamNameWithoutNumber = team1 | strip %}
              
              {% assign teamNameLength = teamNameWithoutNumber | size | minus: 2 %}
              {% assign teamNumber = teamNameWithoutNumber | slice: -1 %}
              
              {% if teamNumber == "1" or teamNumber == "2" or teamNumber == "3" or teamNumber == "4" or teamNumber == "5" or teamNumber == "6" %}
              {% assign teamNameWithoutNumber = teamNameWithoutNumber | slice: 0, teamNameLength %}
              {% endif %}
              {% assign logoUrl = null %}
              {% for logo in site.data.ffhb.logos %}
                  {% for key-word in logo.key-words %}
                      {% if key-word == teamNameWithoutNumber %}
                          {% assign logoUrl = logo.logo %}
                          {% break %}
                      {% endif %}
                  {% endfor %}
                  {% if logoUrl != null %}
                      {% break %}
                  {% endif %}
              {% endfor %}

              {% assign logo1 = logoUrl %}
          {% endif %}

          <div class="title is-4 has-text-grey-darker has-text-centered match-preview" >
              <img src="{{site.url}}/{{logo1}}"  width="56" height="56" alt="{{team1}} " class="image-team-left">
              <p class="is-size-6" style="margin: 0;">{{team1}} vs {{team2}}</p>
              <img src="{{site.url}}/{{logo2}}"  width="56" height="56" alt="{{team2}} " class="image-team-right">
          </div>

        
        {% if match.score1 and match.score1 != "-" and match.score2 != "-"%}
            <p class="has-text-centered has-text-grey-darker is-size-6">{{match.score1}} - {{match.score2}}</p>
            <p class="has-text-centered has-text-grey-darker is-size-7">Score final</p>

        {% else %}
            {% if match.date_text != "Inconnu" %}
                <p class="has-text-centered has-text-grey-darker is-size-6">{{match.date_text | capitalize }}
                    {% if match.time != "Inconnu" %}
                        | {{match.time}}
                    {% endif %}
                </p>
                <p class="has-text-centered has-text-grey-darker is-size-7">{{match.gymnase ||capitalize}}, {{match.address || capitalize }}</p>
            {% else %}
            
                <p class="has-text-centered has-text-grey-darker is-size-7">Informations non disponibles</p>
            {% endif %}
        {% endif %}
          



      </div>
  
      
</div>