{% assign widget = 61ec58359615305c0822bb72 %}
<div class="section-media"> 

<div class="scoreandco" 
data-url="https://widgets.scorenco.com/"

data-type="{{include.type}}"
data-code="{{include.code}}"

> 

  </div>
  </div>


  



