{% assign dynamic_key = competition.file | append: '_journee-1_classement' %}

  
  <table class="table" style="border-collapse: separate;border-spacing: 0 5px;">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th><abbr title="Points">pts</abbr>{{position.points}}</th>
        <th><abbr title="Matchs joués">mj</abbr>{{position.joues}}</th>
        <th><abbr title="Victoires">vict</abbr>{{position.gagnes}}</th>
        <th><abbr title="Macths nuls">nul</abbr>{{position.nuls}}</th>
        <th><abbr title="Défaites">déf</abbr>{{position.perdus}}</th>
        <th><abbr title="Buts marqués">bp</abbr>{{position.buts_plus}}</th>
        <th><abbr title="Buts encaissés">bc</abbr>{{position.buts_moins}}</th>
        <th><abbr title="Différence de buts">diff</abbr>{{position.diff_buts}}</th>
      </tr>
    <thead>
    <tbody>
      {% for position in site.data.ffhb[dynamic_key] %}
        {% assign class = "is-light" %}
        {% if position.club contains "310" or position.club contains "MORDELLES" %}
          {% assign class = "is-selected" %}
        {% endif %}
        <tr is-vcentered  class={{class}}>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.position}}</td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.club}}</td>
          <td class="{{class}}" style="padding: 0;vertical-align: middle">
            {% assign logo = null %}

            {% if position.club contains "310" or position.club contains "MORDELLES" %}
              {% assign logo = "uploads/images/logos/hbc310.png" %}
            {% else %}
              {% assign teamNameWithoutNumber = position.club | strip %}
              {% assign teamNameLength = teamNameWithoutNumber | size | minus: 2 %}
              {% assign teamNumber = teamNameWithoutNumber | slice: -1 %}
              
              {% if teamNumber == "1" or teamNumber == "2" or teamNumber == "3" or teamNumber == "4" or teamNumber == "5" or teamNumber == "6" %}
                {% assign teamNameWithoutNumber = teamNameWithoutNumber | slice: 0, teamNameLength %}
              {% endif %}

              {% assign logoUrl = null %}
              {% for logo in site.data.ffhb.logos %}
                  {% for key-word in logo.key-words %}
                      {% if key-word == teamNameWithoutNumber %}
                          {% assign logoUrl = logo.logo %}
                          {% break %}
                      {% endif %}
                  {% endfor %}
                  {% if logoUrl != null %}
                      {% break %}
                  {% endif %}
              {% endfor %}
            
              {% assign logo = logoUrl %}
            {% endif %}

            <figure class="image is-32x32" style="margin-top: 5px;margin-bottom: 5px;">
              <img class="is-rounded" src="{{site.url}}/{{logo}}" alt="{{position.club}}" alt="{{position.club}} " title="{{position.club}}" style="margin-top: 0px;">
            </figure>

            


          </td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.points}}</td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.joues}}</td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.gagnes}}</td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.nuls}}</td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.perdus}}</td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.buts_plus}}</td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.buts_moins}}</td>
          <td class="{{class}} is-size-7" style="vertical-align: middle">{{position.diff_buts}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>