




<div class="columns is-multiline is-mobile">
  {% for team in site.teams %}	

    {% if team.equipes.size == 0) %}
            {% continue %}
    {% endif %}
    
    {% if include.filtre-team != null and team.code != include.filtre-team %}
      {% continue %}
    {% endif %}

    
    
    {% for idxPool in (0..50) %}
        {% if idxPool == team.equipes.size or team.equipes == null  %}
            {% break %}
        {% endif %}
        {% assign pool = team.equipes[idxPool] %}
        {% assign playerFileCode = pool.code | replace: "pool", "player" %}


        {% if include.filtre-equipe != null and pool.equipe != include.filtre-equipe %}
          {% continue %}
        {% endif %}

        {% if include.afficherPoolTitle %}
          <h3 class="title is-5"> 
            <h3 class="title is-5"> Equipe {{pool.equipe}} </h3>
            <h3 class="title is-6"> Joueurs </h3>
          </h3>
        {% endif %}

        {% for player in site.data.ffhb.[pool.code].players %}	

        {% assign playerIs310 = player.club | teamIsHBC310: team.title %}

        {% if playerIs310   %}

        
        <div class="column is-3-wide is-4-desktop is-4-tablet is-6-mobile  ">


          <div class="card">
            <!--<div class="card-image">
              <figure class="image is-4by3">
                <img src='{{ "/uploads/images/pages/equipes/default.png" | prepend: site.url }}' alt="{{ post.title }}" style="object-fit: scale-down;margin-top: 0px;" loading="lazy"/></figure>
              </figure>
            </div>-->
            <div class="card-content">
              <div class="media">

                <div class="media-content">
                  <p class="title is-5">
                    <span class="ellipsis is-ellipsis-1 has-text-grey-darker" >
                      {{player.firstName | capitalize}}
                  </span>
                     
                     <span class="ellipsis is-ellipsis-1 has-text-grey-darker" >
                      {{player.lastName | upper}}
                  </span>
                </p>
                </div>
              </div>
          
              <div class="content">

                


                


                <p>
                  <span class="tag is-light">{{player.statistics[0][1]}} match{% if player.statistics[0][1] >1 %}s{%endif%}</span>
                  {% if player.statistics[1][1] >0 %}
                    <span class="tag is-primary">{{player.statistics[1][1]}} but{% if player.statistics[1][1] >1 %}s{%endif%} ({{player.statistics[3][1]}}/m)</span>
                  {% endif %}
                  {% if player.statistics[2][1] >1 %}

                    <span class="tag is-dark">{{player.statistics[2][1]}} arrêt{% if player.statistics[2][1] >1 %}s{%endif%} ({{player.statistics[4][1]}}/m)</span>
                  {% endif %}
                  
                
                </p>

                {% if team.hide_competitions_stats == false %}

                <a class="has-text-grey is-small js-modal-trigger " href="#" data-target="modal-player-Equipe{{pool.equipe}}-{{player.playerId}}" >
                  <span style="  text-decoration: underline;">
                    Stats détaillées
                  </span>
                </a>
                

                <div id="modal-player-Equipe{{pool.equipe}}-{{player.playerId}}" class="modal equipe{{pool.equipe}}">
                  <div class="modal-background"></div>
                
                  <div class="modal-card">
                    <header class="modal-card-head is-primary">
                      <p class="modal-card-title">{{player.firstName | capitalize}} {{player.lastName | upper}}</p>

                      <button class="delete" aria-label="close"></button>
                    </header>

                    <section class="modal-card-body">

                      <table class="table">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Adversaire</th>
                            <th>Statistiques</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for game in site.data.ffhb.[playerFileCode][player.playerId].games %}	
                      
                          {% assign homeIs310 = game.teams[0].name | teamIsHBC310: player.club %}
                      
                            <tr>
                              <td>{{game.date.day}}/{{game.date.month}}</td>
                              <td>
                                {% if homeIs310 %}
                                  {{game.teams[1].name}}
                                {% else %}
                                  @{{game.teams[0].name}}
                                {% endif %}
                              </td>
                              <td>
                                
                                {% assign stat = game.statistics[0]['value'] | plus: 0 %}
                                {% if stat > 0 %}
                                  
                                    <span class="icon ">
                                      <i class="far fa-futbol"></i>
                                    </span>
                                    <span>{{stat}}</span>
                                  
                                {% endif %}
                                
                                {% assign stat = game.statistics[1]['value'] | plus: 0 %}
                                {% if stat > 0 %}
                                  
                                    <span class="icon ">
                                      <i class="far fa-hand-paper"></i>
                                    </span>
                                    <span>{{stat}}</span>
                                  
                                {% endif %}
                      
                                {% assign stat = game.statistics[3]['value'] | plus: 0 %}
                                {% if stat >0 %}
                                  
                                    <span class="icon has-text-warning">
                                      <i class="fas fa-circle"></i>
                                    </span>
                                    <span>{{stat}}</span>
                                  
                                {% endif %}
                      
                                {% assign stat = game.statistics[2]['value'] | plus: 0 %}
                                {% if stat >0 %}
                                  
                                    <span class="icon ">
                                      <i class="far fa-hand-peace"></i>
                                    </span>
                                    <span>{{stat}}</span>
                                  
                                {% endif %}
                                
                                
                                {% assign stat = game.statistics[4]['value'] | plus: 0 %}
                                {% if stat >0 %}
                                  
                                    <span class="icon has-text-danger">
                                      <i class="fas fa-circle"></i>
                                    </span>
                                    <span>{{stat}}</span>
                                  
                                {% endif %}
                                
                              </td>
                              
                      
                            </tr>
                          {% endfor%}
                      
                        </tbody>
                      </table>
                    </section>
                    <footer class="modal-card-foot">
                      <button class="button is-primary" onclick="afficherJoueurSuivant('modal-player-Equipe{{pool.equipe}}-{{player.playerId}}','equipe{{pool.equipe}}') ">Joueur suivant</button>
                      <button class="button" onclick="afficherJoueurPrecedent('modal-player-Equipe{{pool.equipe}}-{{player.playerId}}','equipe{{pool.equipe}}') ">Joueur précédent</button>
                    </footer>
                  </div>
                </div>
                {% endif %}
                
                  
                


                






              </div>
            </div>
          </div>


          
      </div>
        

        {% endif %}

        {% endfor %}


                    
    {% endfor %}
  {% endfor %}


</div>
  