{% assign match = include.match %}

<!--<div class="match-home-page">-->
  <div class="column match-home-page is-4-desktop is-6-tablet is-12-mobile"  style="display: none;" data-week-number="{{ match.week_number }}">        
      
      <div class="box">

          {% assign teamUrl = team.url %}
          <a href="{{teamUrl}}" title="Plus d'infos sur l'équipe"><p class="subtitle is-6 has-text-grey-darker has-text-centered">{{team.title}} {{competition.equipe}}</p></a>
          {% if match.location == 'HOME' %}
              {% assign team1 = "HBC310" %}
              {% assign team2 = match.team2 %}

              {% assign logo1 = "uploads/images/logos/hbc310.png" %}

              {% assign teamNameWithoutNumber = match.team2 | strip %}
              {% assign teamNameLength = teamNameWithoutNumber | size | minus: 2 %}
              {% assign teamNumber = teamNameWithoutNumber | slice: -1 %}
              
              {% if teamNumber == "1" or teamNumber == "2" or teamNumber == "3" or teamNumber == "4" or teamNumber == "5" or teamNumber == "6" %}
              {% assign teamNameWithoutNumber = teamNameWithoutNumber | slice: 0, teamNameLength %}
              {% endif %}

              {% assign logoUrl = null %}
              {% for logo in site.data.ffhb.logos %}
                  {% for key-word in logo.key-words %}
                      {% if key-word == teamNameWithoutNumber %}
                          {% assign logoUrl = logo.logo %}
                          {% break %}
                      {% endif %}
                  {% endfor %}
                  {% if logoUrl != null %}
                      {% break %}
                  {% endif %}
              {% endfor %}

              {% assign logo2 = logoUrl %}

          {% else %}
              {% assign team1 = match.team1 %}
              {% assign team2 = "HBC310" %}

              {%if team1 contains "310" or team1 contains "ENT BREAL BRUZ MORDELLES HB" %}
                {% assign team1 = match.team2 %} 
                {% assign team2 = "HBC310" %}
              {% endif %}
    
              {% assign logo2 = "uploads/images/logos/hbc310.png" %}

              {% assign teamNameWithoutNumber = team1 | strip %}
              
              {% assign teamNameLength = teamNameWithoutNumber | size | minus: 2 %}
              {% assign teamNumber = teamNameWithoutNumber | slice: -1 %}
              
              {% if teamNumber == "1" or teamNumber == "2" or teamNumber == "3" or teamNumber == "4" or teamNumber == "5" or teamNumber == "6" %}
              {% assign teamNameWithoutNumber = teamNameWithoutNumber | slice: 0, teamNameLength %}
              {% endif %}
              {% assign logoUrl = null %}
              {% for logo in site.data.ffhb.logos %}
                  {% for key-word in logo.key-words %}
                      {% if key-word == teamNameWithoutNumber %}
                          {% assign logoUrl = logo.logo %}
                          {% break %}
                      {% endif %}
                  {% endfor %}
                  {% if logoUrl != null %}
                      {% break %}
                  {% endif %}
              {% endfor %}

              {% assign logo1 = logoUrl %}
          {% endif %}

          <div class="title is-4 has-text-grey-darker has-text-centered match-preview" >
              <img src="{{site.url}}/{{logo1}}"  width="56" height="56" alt="{{team1}} " class="image-team-left">
              <p class="is-size-6">{{team1}} vs {{team2}}</p>
              <img src="{{site.url}}/{{logo2}}"  width="56" height="56" alt="{{team2}} " class="image-team-right">
          </div>

          {% assign date_value = match.date | date: "%m" %}
        {% assign month_number = date_value | plus: 0 %} 

          {% case month_number %}
          {% when "1" %}
            {% assign month_name = "janvier" %}
          {% when 2 %}
            {% assign month_name = "février" %}
          {% when 3 %}
            {% assign month_name = "mars" %}
          {% when 4 %}
            {% assign month_name = "avril" %}
          {% when 5 %}
            {% assign month_name = "mai" %}
          {% when 6 %}
            {% assign month_name = "juin" %}
          {% when 7 %}
            {% assign month_name = "juillet" %}
          {% when 8 %}
            {% assign month_name = "août" %}
          {% when 9 %}
            {% assign month_name = "septembre" %}
          {% when 10 %}
            {% assign month_name = "octobre" %}
          {% when 11 %}
            {% assign month_name = "novembre" %}
          {% when 12 %}
            {% assign month_name = "décembre" %}
        {% endcase %}


          <p class="has-text-centered has-text-grey-darker is-size-6">{{match.date_text | capitalize }} | {{match.time}}</p>
          {% if match.location == 'AWAY' %}
              <p class="has-text-centered has-text-grey-darker is-size-7">{{match.gymnase ||capitalize}}, {{match.address || capitalize }}</p>
          {% else %}
              <p class="has-text-centered has-text-grey-darker is-size-7">{{match.gymnase ||capitalize}}</p>
          {% endif %}



      </div>
  
      
  </div>
<!--</div>-->