@charset "utf-8";


$family-sans-serif: 'Lato', Arial, sans-serif;
$primary: #0b4874 !default;
$secondary: #e02e7b !default;
$dark: #e02e7b !default;
$danger2:#3a3030 !default;


$navbar-height: 2.25rem;
$navbar-background-color: $primary;
$navbar-item-active-color: #ffffff;

$navbar-dropdown-arrow: #ffffff;
$navbar-item-active-background-color: $primary;
$navbar-item-color: #ffffff;
$navbar-dropdown-item-hover-color: #ffffff;
$navbar-dropdown-item-active-color	: #ffffff;
$navbar-tab-active-background-color: $primary;
$navbar-dropdown-background-color	:$primary;
$navbar-dropdown-item-hover-background-color: $dark;	
$navbar-dropdown-item-active-background-color	: $dark;
$table-row-active-background-color: $dark;
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
$navbar-tab-active-border-bottom-color: $primary;
$navbar-item-hover-background-color	: $dark;
$navbar-item-hover-color: #ffffff;
$navbar-divider-background-color: #ffffff73;
$footer-background-color: $primary;
$footer-color: #ffffff;

$steps-active-color: $primary;
$steps-completed-color: $primary;

$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-border-color: $primary;
$tabs-toggle-link-active-color: #ffffff;
$tabs-toggle-link-border-color: $danger2;

.tabs.match-conditional .tab.is-active a {
  text-decoration: underline;
}

.image-team-left {
  float: left;
  margin-right: 10px; /* Espacement entre l'image et le texte */
  margin-top: 0px!important;
}
.image-team-right {
  float: right;
  margin-left: 10px; /* Espacement entre l'image et le texte */
  margin-top: 0px!important;
}
.match-preview {
  display: flex;
  align-items: center; /* Aligne verticalement au centre */
  justify-content: center; /* Aligne horizontalement */
}


html {
	//-moz-osx-font-smoothing: grayscale;   /* Firefox */
//     -webkit-font-smoothing: antialiased; /* WebKit  */
//     font-smoothing: antialiased;
}

body {

}

.underline-p a:link{

  text-decoration: underline;
  color: $primary;
}
.underline-p  a:visited{

  text-decoration: underline;
  color: $primary;
}

.steps-content a:link{
  color: $primary;

}
.steps-content  a:visited{
  color: $primary;
}

.footer a:link{
  color: #ffffff;
}
.footer a:visited{
  color: #ffffff;
}

.training a:link{
  color: #000000;
}
.training a:visited{
  color: #000000;
}

.matchs a:link{
  color: rgb(74, 74, 74);
}
.matchs a:visited{
  color: rgb(74, 74, 74);
}

.link-mixte a:link{
  color: $danger2;
}
.link-mixte a:visited{
  color: $danger2;
}
.link-gars a:link{
  color: $primary;
}
.link-gars a:visited{
  color: $primary;
}
.link-filles a:link{
  color: $dark;
}
.link-filles a:visited{
  color: $dark;
}

.footer h4{
  color: #ffffff;
}


@import "../node_modules/bulma/bulma.sass";


$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "../node_modules/bulma-block-list/src/block-list.scss";

//@import "terrain";
@import "product";
@import "cart";

//@import "smartphone";



.hero-next:after {
	z-index: -1;
	position: absolute;
    top: 98.1%;
    left: 70%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 50px #e15915;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.frontend-news{

}

.tagHomeNews{
  cursor: pointer;
}
/*.frontend-hide-news{
  display:none!important;

}

.frontend-show-news{
  display:flex!important;
}*/

.card-bloc-home{
  width: 100%;
  height: 190px;
}

.card-bloc-team-info{
  width: 100%;
  height: 200px;
}

.news-title-actus{
  font-size: 12;
  flex: 1;
  //white-space: nowrap;
  overflow: hidden;
  //text-overflow: ellipsis;
}

.share-facebook{
    color: #fff;
    background-color: #3b5998;
    border-color: transparent;
}
.share-facebook:hover{
  color: #fff;
  background-color: #224796;
  border-color: transparent;
}

.share-twitter{
  color: #fff;
  background-color: #55acee;
  border-color: transparent;
}
.share-twitter:hover{
  color: #fff;
  background-color: #2b83c7;
  border-color: transparent;
}


.share-email{
  color: #fff;
  background-color: #e02e7b;
  border-color: transparent;
}
.share-email:hover{
  color: #fff;
  background-color: #e7267a;
  border-color: transparent;
}

.share-link{
  color: #fff;
  background-color:$dark;
  border-color: transparent;
}
.share-link:hover{
  color: #fff;
  background-color:#ec1a75;
  border-color: transparent;
}




.news{
  color: #000000;
  background-color: $white !important;
}

.news:hover{
  color: $primary;
  background-color: $white !important;
}

.title-gars{
  color: $primary!important;
}

.title-fille{
  color: $dark!important;

}

.news-important:hover{
  color: $white;
  background-color: #ce246d !important;
}
.news-important{
  color: $white;
  background-color: #e02e7b !important;
}
.news-more{
  color: $white;
  background-color: $primary !important;
  text-align:center;
}
.news-more:hover{
  color: $white;
  background-color: rgb(5, 82, 138) !important;
  text-align:center;
}


.bandeau-message a:link{
  color: #ffffff;
  text-decoration: underline;
}
.bandeau-message a:visited{
  color: #ffffff;
  text-decoration: underline;
}




.bottom { 
  position:absolute;                  
  bottom:0;                          
}


.carousel{
	overflow:hidden;
  }
  /*.m-padding a{
	margin: 5px;
	background: #ccc;
	display: block;
	border-radius: 5px;
	overflow:hidden;
  }*/
  .card-footer, .card-content, .card-content .title, .card-content .subtitle {
	 //background-color: $light;
	  //color: #ccc;
  }
  .slider-navigation-previous {
  left: 10px;
   color: $dark;
  }
  .slider-navigation-next {
    right: 10px;
    color: $dark;
    
  }
  
  #sliderafb954d2-7632-4605-8702-925583a4f6ac > div.slider-navigation-next > svg > polyline
 

  /** Agenda **/
  .past-event {
    opacity: 0.5;
    
  }

  /** Portraits **/


  
  div#background {
    height: 700px;
    width: 100%;
    background-image: url(http://garchitecture.ca/php/images/headers/wood.jpg);
    padding-top: 20px;
    font-family: 'Cedarville Cursive', cursive;
  }
  
  div#gallery {
    margin: auto;
  }
  
  
  #background img {
    height: 350px;
    margin: 0px;
  }
  
  #background figure {
    float: left;
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 2px 3px black;
  }
  
  figure.pic1 {
    -webkit-transform : rotate(-10deg);
    z-index: 1;
  }
  
  figure.pic2 {
    -webkit-transform : rotate(15deg);
    z-index: 2;
  }
  
  figure.pic3 {
    -webkit-transform : rotate(-25deg);
    z-index: 1;
  }
  
  figure.pic4 {
    -webkit-transform : rotate(5deg);
    z-index:1;
  }
  
  figure.pic5 {
    -webkit-transform : rotate(5deg);
    z-index:1;
  }
  
  figure.pic6 {
    -webkit-transform : rotate(-8deg);
    z-index:1;
  }
  
  figure.pic7 {
    -webkit-transform : rotate(2deg);
    z-index:1;
  }
  
  figure.pic8 {
    -webkit-transform : rotate(-13deg);
    z-index:1;
  }
  
  figure.pic9 {
    -webkit-transform : rotate(-7deg);
    z-index:1;
  }
  
  figure.pic10 {
    -webkit-transform : rotate(2deg);
    z-index:1;
  }
  
  figure.pic11 {
   -webkit-transform : rotate(-3deg);
    z-index:1;
  }
  
  #background figure:hover {
    box-shadow: 5px 10px 100px black;
    -webkit-transform: scale(1.1,1.1);
    z-index: 20;
  }
  
  //hero backgroung
  .has-bg-img { 
    background-image: url('./../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;

  }

  .has-handball-effect { 
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./../images/banner-image-bg-hand.webp');
  }

  .has-primary-effect { 
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./../images/Liquid-Cheese.svg');
    /* background by SVGBackgrounds.com */
  }

  .has-dark-effect { 
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./../images/Liquid-Cheese-dark.svg');
    /* background by SVGBackgrounds.com */
  }

  .ellipsis {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    /*   max-width: 400px; */
    /*   height: 109.2px; */
    /* Fallback for non-webkit */
    margin: 0 auto;
    /*   font-size: 26px; */
    line-height: 1.4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .is-ellipsis-1 {
    -webkit-line-clamp: 1;
  }

  

  /********** Galery ***/
  .item-slide {
    box-sizing: border-box;
  }
  
  /* The Modal (background) */


  .galerie-plus {
      filter: brightness(50%);
      -webkit-filter: brightness(50%);
      }
    
  .container-galerie-plus {
    position: relative;
  text-align: center;
  color: white;
  font-size: 2.25em;
  margin: 0px;
  }
  
  .centered-galerie-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .item-slide{
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0px;
    margin-top: -50px;
    color: $dark;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .item-slide img {
    max-width: 1200px;
  }
  
  .caption-container {
    color: white;
  }
  
  .column img{
    margin-top: 20px;
  }

  //move effect
  .visibilityDiv {
    animation: showBlock 0s 2s forwards;
    visibility: hidden;
}

  @keyframes showBlock {
    to { visibility: visible; }
}


/** home news date **/

.dateHomeBadge {
  background-color: $dark;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  //position: absolute;
  //right: 10px;
  text-align: center;
  text-transform: uppercase;
  //bottom: 10px;
  width: 48px;
  height: 48px;
}


.dateHomeBadge  span {
  display: block;
  line-height: 14px;
}

.dateHomeBadge  .month {
  font-size: 11px;
}

/** ribbon card **/

.snip1527 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1527 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1527 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1527 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1527 figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #700877;
  content: '';
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.8;
  z-index: -1;
}

.snip1527 .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.snip1527 .date span {
  display: block;
  line-height: 14px;
}

.snip1527 .date .month {
  font-size: 11px;
}

.snip1527 h3,
.snip1527 p {
  margin: 0;
  padding: 0;
}

.snip1527 h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.snip1527 p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.snip1527 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1527:hover img,
.snip1527.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.tabs ul {
	flex-shrink: 1;
	flex-wrap: wrap;
	border-bottom-color: transparent;
}



/** sticky element **/

.sticky-element {

  position: sticky;
  top: 0;
  z-index: 4;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}



