---
layout: default
---

{{ content }}

<div class="columns is-multiline">
    {% for post in paginator.posts %}
    <div class="column is-3">
        {% include post-card.html %}
    </div>
    {% endfor %}
    <div class="column is-12">
        {% include pagination.html %}
    </div>

</div>