---
layout: page
---

<div >


  <div class="columns is-centered">
    <div class="column is-narrow">
     
   

      <div class="field has-addons">
        <div class="control">
          <a class="button is-primary" onclick="selectPreviousSemaine()">
            <
          </a>
        </div>
        <div class="control ">
          <div class="select is-primary" onChange='filterElementInterval("filtre-semaines","data-match-week-start","data-match-week-end","content-filter-semaine")'>
              <select id="filtre-semaines" name="filtre-semaines" >

                  {% for semaine in site.data.semaines %}
                    
                    <option value='{{semaine.debut | date: "%s" }}_{{semaine.fin | date: "%s"}}' data-week-start="{{semaine.debut | date_to_french}}" data-week-end="{{semaine.fin | date_to_french}}"  > {{semaine.debut | date_to_french}} - {{semaine.fin | date_to_french}}</option>
                {% endfor %}

                  
              </select>
          </div>
        </div>
        <div class="control">
          <a class="button is-primary" onclick="selectNextSemaine()">
            >
          </a>
        </div>
      </div>
    </div>
  </div>



  <br>


  <p id="noMatchContainer" class="is-hidden no-match-conditional">
    Pas de match
  </p>
<div class="columns is-multiline" >



      {% for team in site.teams %}	
        {% for equipeIndex in team.equipes %}	
          <div id="calendrier-{{team.code}}-{{equipeIndex.equipe}}" class="column is-12-touch is-6-desktop content-filter" style="padding-bottom: 0;padding-top: 0;">
            {% include widget-ffhb-matchs.html with-border=true filtre-team=team.code filtre-equipe=equipeIndex.equipe masqueDejaAffiche=false affiche-journee=true affiche-equpe=true afficherPoolTitle=false masqueDejaJoues=false with-pagination=false pagination=10 hide-competition=true  %}
          </div>
        {% endfor %}
      {% endfor %}  



</div>


<div class="columns is-centered">
  <div class="column is-narrow">
   
 

    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary" onclick="selectPreviousSemaine()">
          Semaine précédente
        </a>
      </div>

      <div class="control">
        <a class="button is-primary" onclick="selectNextSemaine()">
          Semaine suivante
        </a>
      </div>
    </div>
  </div>
</div>


    
</div>

