---
layout: page
---

<div class="columns is-multiline">
  {% for team in site.teams %}	
    {% if team.hide_competitions_stats == false %}
      {% for equipeIndex in team.equipes %}	
        

          <div id="classement-{{team.code}}-{{equipeIndex.equipe}}" class="column is-10-tablet is-12-mobile content-filter">
            <a href="{{site.url}}{{ team.url }}?equipe={{equipeIndex.equipe}}"><h3 class="title is-5"> {{team.title}} {{equipeIndex.equipe}} </h3></a>
            
            {% include widget-ffhb-classement.html filtre-team=team.code filtre-equipe=equipeIndex.equipe masqueDejaAffiche=false afficherPoolTitle=false masqueDejaJoues=false show-logo-ligue=false with-pagination=true pagination=5 %}
          </div>
        {% endfor %}
      {% endif %}
  {% endfor %}  
</div>