---
layout: default
---




<div class="columns is-mobile is-multiline is-vcentered">

    <div class="column is-7-tablet is-12-mobile">
        <h2><span class="is-size-5 has-text-weight-bold">  Le Handball Club 310 (ou HBC 310) est le club de Handball de Bréal-sous-Montfort, Mordelles et Saint-Thurial, 3 communes situées à l'ouest de Rennes. </span> </h2><br><br>
        <span class="is-size-5 has-text-weight-bold">Des joueurs venant du sud ouest rennais</span><br>

        {% assign communesTriees = site.data.communes | sort: "nom" %}

        <h3>
        {% for commune in communesTriees %}
            {% if forloop.first == false and forloop.last == false%}
                {{","}}
            {% endif%}    
            {{commune.nom | strip}}
            {% if forloop.last == true %}    
                {{"..."}}
            {% endif%}
        {% endfor %}
        </h3>
    </div>
    
    <div class="column is-5-tablet is-12-mobile">
        <p class="has-text-centered">
            <img alt="Bréal, Mordelles et Saint-Thurial, à 15 minutes à l'ouest de Rennes " src='{{ "/uploads/images/pages/Carte2.webp" | prepend: site.url }}' loading="lazy"/>
        </p>
    </div>

    <div class="column is-7-tablet is-12-mobile">
        <ul>
            <li><h2><span class="is-size-5 has-text-weight-bold">2 équipes  Senior au plus haut niveau départemental </span></h2>avec pour objectif la montée en Région</li>
            <li><h2></h2><span class="is-size-5 has-text-weight-bold">3 équipes jeunes au niveau régional (U15 et U18)</span></h2></li>
        </ul>
    </div>
    
    <div class="column is-5-tablet is-12-mobile">
        <p class="has-text-centered">
            <img alt="Le HBC 310 participe aux championnats départementaux et régionaux de la ligue de Bretagne" src='{{ "/assets/images/partners/LigueBretagne_pageClub.png" | prepend: site.url }}' loading="lazy"/>
        </p>
    </div>
    
    

</div>


<div class="container">
    <section class="hero is-dark has-dark-effect"> 
       <div class="hero-body"> 
            <div class="container"> 

                <div class="columns is-mobile is-centered is-vcentered is-multiline"> 
                    <div class="column is-6-tablet is-12-mobile"> 
                        
                        <div class="title"> Le HBC 310 en chiffres </div> 
                        <div class="subtitle"> Saison 2020-2021 </div> 
                    </div> 
                    <div class="column is-3-tablet is-6-mobile"> 

                        
                       <span class="is-size-4 has-text-weight-bold"> {{site.teams.size}} équipes</span>
                        
                    </div>  
                    <div class="column is-3-tablet is-6-mobile"> 
                    
                        
                        <span class="is-size-4 has-text-weight-bold"> +200 Licenciés </span> 
                        
                    </div>
                </div>



            </div>
        </div>
    </section>
</div>



<br>
<div class="columns is-mobile is-multiline is-vcentered">


    <div class="column is-7-tablet is-12-mobile">
        <h2><span class="is-size-5 has-text-weight-bold">Des pratiques différentes pour tous</span></h2><br><br>
        <h2><span class="is-size-5 has-text-weight-bold">Une école de handball récompensée pour : </span></h2><br>
        <ul>
            <li>Son nombre de licenciés</li>
            <li>La qualification de ses éducateurs</li>
            <li>La qualité de sa pratique, épanouissante et ludique</li>
            <li>La diversité des évènements organisés</li>
        </ul>

    </div>

    <div class="column is-5-tablet is-12-mobile">
        <p class="has-text-centered">
            <img alt="Au Handball Club 310, des pratiques pour tous " src='{{ "/uploads/images/pages/pratiques_hand.png" | prepend: site.url }}' loading="lazy"/>
        </p>
    </div>
</div>


