---
layout: page
---

<div class="columns is-multiline">
  {% for team in site.teams %}	
    {% for equipeIndex in team.equipes %}	
      <div id="calendrier-{{team.code}}-{{equipeIndex.equipe}}" class="column is-10-tablet is-12-mobile content-filter">
        <a href="{{site.url}}{{ team.url }}?equipe={{equipeIndex.equipe}}"><h3 class="title is-5"> {{team.title}} {{equipeIndex.equipe}} </h3></a>
        
        {% include widget-ffhb-matchs.html with-border=true filtre-too-far=false filtre-journee-en-cours=false only-away=false only-home=false filtre-team=team.code filtre-equipe=equipeIndex.equipe affiche-equpe=true masqueDejaAffiche=false afficherPoolTitle=false masqueDejaJoues=false show-logo-ligue=false with-pagination=true pagination=10  %}
      </div>
    {% endfor %}
  {% endfor %}  
</div>