<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

{% include head.html %}



{% if page.show_sidebar %} 
    {% assign content_width = 'is-9' %} 
{% else %} 
    {% assign content_width = 'is-12' %} 
{% endif %}

    


  
  <body>
    {% include header.html %}

    
    {% include mobile-right-panel.html %}


        </section>

    

        {% include hero.html %}

    
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column {{content_width}}-desktop {{content_width}}-tablet is-12-mobile">

                    {{ content }}
                </div>
                {% if page.show_sidebar %} 

                    <div class="column is-3-desktop is-3-tablet is-hidden-mobile">
                        {% include latest-posts.html %}
                        {% include image-sidebar.html %}

                    </div>
                {% endif %}
                
            </div>
        </div>
    </section>
    {% unless page.hide_partners_footer %}
        <br><br>
        {% include partners-footer.html %}

      {% endunless %}
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    {%- include footer-scripts.html -%}
  </body>
</html>

