---
layout: page
---




  <div class="container">
  


  {% for entrainementJour in site.data.entrainements %}
  <h4 id="{{entrainementJour.day}}">{{entrainementJour.day | capitalize}}</h4>

    {% assign entrainementsParHeure = entrainementJour.creneaux | sort: "start" %}

    <div data-jour="{{entrainementJour.day}}" class="columns is-multiline is-mobile jour-container">
    {% for entrainement in entrainementsParHeure %}
          {% assign gymnase = site.data.places | where: "code", entrainement.place |first  %}
          <div id="training-box-{{entrainement.teams}}" class="content-filter column is-3-widescreen is-4-tablet is-12-mobile is-flex">
            <div class="box " style="width: 100%;">
              <strong>{{ entrainement.start}} - {{ entrainement.end}}</strong> 
              <br>
              <span class="training">
                <a href="{{ "/gymnases/" | prepend: site.url }}#{{ gymnase.code}}"><strong>{{ gymnase.commune}}</strong><br>
                  <span class="is-hidden-desktop">
                    <br>
                  </span>
                  {{ gymnase.nom}}
                  </a>
              </span>
              <br><br>
              <p>

                {% if entrainement.teams contains 'ALL' %}
                  <span class="link-mixte">
                    <b class="filterable-data-item">
                      {{entrainement.title}}
                    </b>
                  </span>
                  <br>
                  <span class="is-hidden-desktop">
                    <br>
                  </span>
                {% else %}
                  {%for equipe in entrainement.teams %}
                    {% assign team = site.teams | where: "code", equipe |first  %}

                    {% assign colorTeam = "is-grey"  %}
                    {% if team.sexe == "G" %}
                      {% assign colorTeam = "is-primary"  %}
                    {% elsif team.sexe == "F" %}
                      {% assign colorTeam = "is-dark"  %}
                    {% endif %}
                    <a href="{{team.url}}" >
                      <span class="tag {{colorTeam}}">{{team.title}}</span>
                    </a>
                    
                  {% endfor%}

                  {%for tag in entrainement.tags %}
                    <span class="tag is-warning">{{tag}}</span>       
                  {% endfor%}

                {% endif %}
              </p>
            </div>
          </div>          

      {% endfor %}
      </div>

  {% endfor %}


</div>
