---
layout: page


categories:
 - {code: ecole,
        libelle: Ecole de handball
   }
 - {code: jeunes,
     libelle: Jeunes
   }
 - {code: adultes,
    libelle: Adultes
 }
 - {code: loisirs,
    libelle: Loisirs
 }
---



<div class="container">

    {% for cat in page.categories %}

       <h4 id="{{cat.code}}">{{cat.libelle}}</h4>

        <section class="section">
            <div class="columns is-multiline">

                {% for team in site.teams %}

                    {% unless team.nolist %}


                        {% if team.categorie == cat.code %}
                            {% capture countByTag %}{{ countByTag | plus:1 }}{% endcapture %}

                            <div class="column is-4">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image is-16by10">
                                            {% if team.images == null %}
                                                <img alt="Handball Club 310 - {{ team.title }}" src='{{ "/uploads/images/pages/equipes/default.png" | prepend: site.url }}' loading="lazy"/>
                                            {% else %}
                                                <img alt="Handball Club 310 - {{ team.title }}" src="{{site.url}}{{team.images[0]}}"  loading="lazy"/>
                                            {% endif %}
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                            <br><p class="title is-5">{{ team.title }}</p>
                                        <div class="content">
                                            <p>

                                                {% if team.sexe == "G" %}
                                                    Joueurs nés
                                                {% elsif team.sexe == "F" %}
                                                    Joueuses nées
                                                {% else if team.sexe == "M" %}
                                                    Joueuses et joueurs nés 
                                                {% endif %}

                                                {{ team.ages }}</p>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <p class="card-footer-item">
                                        <span>
                                            {% assign classButton = "is-light" %}
                                            {% if team.sexe == "G" %}
                                                {% assign classButton = "is-primary" %}
                                            {% elsif team.sexe == "F" %}
                                                {% assign classButton = "is-dark" %}
                                            {% endif %}
                                            <a href="{{site.url}}{{ team.url }}" class="button {{classButton}}">Plus d'infos</a>
                                        </span>
                                        </p>
                                    </footer>
                                </div>

                            </div>
                        {%endif %}
                    {% endunless %}

                {% endfor %}
            </div>
        </section>


    {% endfor %}

    
</div>


