---
layout: page
---

<div class="container">

  {% leaflet_map {"zoom" : 12,
              "center" :[48.047223,-1.862760]
              } %}
    
          {% leaflet_marker { "latitude" : {{site.data.places[0].latitude}},
                              "longitude" : {{site.data.places[0].longitude}},
                              "popupContent" : "{{ site.data.places[0].nom}}"
                            } %}
          {% leaflet_marker { "latitude" : {{site.data.places[1].latitude}},
                              "longitude" : {{site.data.places[1].longitude}},
                              "popupContent" : "{{ site.data.places[1].nom}}"
                            } %}
          {% leaflet_marker { "latitude" : {{site.data.places[2].latitude}},
                              "longitude" : {{site.data.places[2].longitude}},
                              "popupContent" : "{{ site.data.places[2].nom}}"
                            } %}
          {% leaflet_marker { "latitude" : {{site.data.places[3].latitude}},
                              "longitude" : {{site.data.places[3].longitude}},
                              "popupContent" : "{{ site.data.places[3].nom}}"
                            } %}
          {% leaflet_marker { "latitude" : {{site.data.places[4].latitude}},
                              "longitude" : {{site.data.places[4].longitude}},
                              "popupContent" : "{{ site.data.places[4].nom}}"
                            } %}
          {% leaflet_marker { "latitude" : {{site.data.places[5].latitude}},
                              "longitude" : {{site.data.places[5].longitude}},
                              "popupContent" : "{{ site.data.places[5].nom}}"
                            } %}
    
{% endleaflet_map %}

<br>
  <div class="columns is-multiline">


    {% assign villes = "Bréal-sous-Montfort, Mordelles, Bruz" | split: ", " %}

    {% for ville in villes%}
    
      <div class="column is-4-desktop is-6-tablet is-12-mobile is-flex">
        <div class="box " style="width: 100%;">

          <h3 id="{{ville}}">{{ville}}</h3><br>
    
          {% assign gymnases = site.data.places | where: "commune", ville   %}
          {% for place in gymnases%}
            <h4 id="{{ville}}">{{place.nom}}</h4>
            {{ place.rue}}<br>
            
            <a target="_blank" rel="nofollow noreferrer noopener" href="https://www.google.fr/maps/dir//{{place.latitude}},{{place.longitude}}" >J'y vais</a>
            <br><br>
          {% endfor %}
            <br>
        </div>
    </div>
      
  
      
  
      {% endfor%}


    </div>
    
  </div>
  






  <br>
  <br>








  </div>
</div>