<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" >
  {% include head.html %}








  <body>
    {% include header.html %}
    {% include mobile-right-panel.html %}

    
    {% if site.data.messages.size>0 %}        
    
        {% assign message = site.data.messages | where: "archive", "false" | first %}

        {% if message != null %}
            <div class="notification is-dark" style="border-radius: unset; margin-bottom: unset">
                <span class="icon" style="position: absolute; top: 10px;right: 10px;">
                    <i class="fas fa-thumbtack"></i>
                </span>

                <div class="container">
                    {% include home-messages-club.html message=message%}
                </div>
            </div>
        {% endif %}
    {% endif %}



    <section class="hero is-light"> 
        <div class="hero-body"> 
            <div class="container"> 
                <div class="columns">
                    <div class="column is-9-tablet is-hidden-mobile">
                        <!-- News sur la home -->

                        <h2 class="title is-4">Actualités</h2>

                            {% include home-news.html %}


                                    
                    </div>

                    <!-- Sidebar 1-->
                    <div class="column is-3-desktop is-3-tablet is-12-mobile" >
                        {% include latest-posts.html %}
                    <!--  {% include image-sidebar.html image=page.image-sidebar-1 link=page.link-sidebar-1 %}-->
                    </div>
                </div>
       
                <div class="title-wrapper has-text-centered">
                    <a  href="{{site.url }}/blog/" class="button is-primary is-medium">
                        Plus d'actus
                    </a>
                </div>
            
            </div>
                        
        </div>
    </section>
    
    
    <section class="section">
        <div class="container">
            {% include blocs-home.html %}
        </div>
    </section>



    {% if page.zones[0].image1 != null and page.zones[0].image1 != "" %}
    <section class="section">
        <div class="container">
            <!-- Images Mise en avant Offre du moment-->
            <div class="columns is-mobile is-multiline is-centered">
                <div class="column is-5-tablet is-9-mobile">
                    <img src="{{site.url}}{{page.zones[0].image1}}" loading="lazy">       
                </div>
                <div class="column is-5-tablet is-9-mobile">
                    <img src="{{site.url}}{{page.zones[0].image2}}" loading="lazy">       
                </div>
                <div class="column is-3-desktop is-3-tablet is-hidden-mobile">
                    <div class="title-wrapper has-text-centered">
                        <a  href="{{ page.zones[0].link-page | prepend: site.url }}" class="button is-primary is-medium">
                            {{page.zones[0].link-text}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    
    <!-- Widgets Scoreandco -->
    {% unless page.hide_widgets-scoreandco  %}
    <section class="hero is-primary has-handball-effect" > 
        <div class="hero-body" > 
            <div class="container" >
                <h3 class="title is-4" >{{page.text-widgets-matchs}}</h3>  
                <div class="columns">
                    {% if page.widget-gauche-code != null  %}
                        <div class="column is-6-desktop is-6-tablet is-12-mobile">
                            <h4 class="title is-5" id="matchs-of-the-week" name="matchs-of-the-week">Matchs de la semaine</h4>  
                            <!--{% include widget-scorandco.html  code=page.widget-gauche-code type=page.widget-gauche-type%}-->
                            <div class="scorenco-widget" data-widget-type="week-events" data-widget-id="628" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: 'Lato', Arial, sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
                                <div class="ldsdr"></div>
                                Chargement des données en cours
                                </div>
                                <style>.ldsdr{display:inline-block;width:80px;height:80px}.ldsdr:after{content:" ";display:block;width:64px;height:64px;margin:8px;border-radius:50%;border:6px solid #1E457B;border-color:#1E457B transparent;animation:ldsdr 1.2s linear infinite}@keyframes ldsdr{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}</style>
                                <script async defer src="https://widgets.scorenco.com/host/widgets.js"></script>
                        </div>
                    {% endif %}
                    {% if page.widget-droit-code != null  %}
                        <div class="column is-6-desktop is-6-tablet">
                            <h4 class="title is-5" id="rankings" name="rankings">Classements</h4>  
                            <!--{% include widget-scorandco.html  code=page.widget-droit-code type=page.widget-droit-type %}-->
                            <div class="scorenco-widget" data-widget-type="ranking" data-widget-id="630" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: 'Lato', Arial, sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
                                <div class="ldsdr"></div>
                                Chargement des données en cours
                                </div>
                                <style>.ldsdr{display:inline-block;width:80px;height:80px}.ldsdr:after{content:" ";display:block;width:64px;height:64px;margin:8px;border-radius:50%;border:6px solid #1E457B;border-color:#1E457B transparent;animation:ldsdr 1.2s linear infinite}@keyframes ldsdr{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}</style>
                                <script async defer src="https://widgets.scorenco.com/host/widgets.js"></script>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endunless %}


<div>

    
</div>


    <!--<div class="scorenco-widget" data-widget-type="ranking" data-widget-id="630" style="background: #F2F5F9; height: 500px; display: flex; align-items: center; justify-content: center; flex-direction: column;text-transform: uppercase; font-family: sans-serif; font-weight: bolder; gap: 9px; color:#1E457B;">
        <div class="ldsdr"></div>
        Score'n'co - Handball Club 310
        </div>
        <style>.ldsdr{display:inline-block;width:80px;height:80px}.ldsdr:after{content:" ";display:block;width:64px;height:64px;margin:8px;border-radius:50%;border:6px solid #1E457B;border-color:#1E457B transparent;animation:ldsdr 1.2s linear infinite}@keyframes ldsdr{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}</style>
        <script async defer src="https://widgets.scorenco.com/host/widgets.js"></script>-->
    
     <!-- Widgets FFHB -->
     
    <section class="hero is-primary has-handball-effect" > 
        <div class="hero-body" > 
            <div class="container" >
                
              <!--  <span class="is-pulled-right is-hidden">
                    <div class="control ">
                        <div class="select is-primary" onChange='filterElementInterval("filtre-semaines","data-match-week-start","data-match-week-end","content-filter-semaine")'>
                            <select id="filtre-semaines" name="filtre-semaines" >
                
                                {% for semaine in site.data.semaines %}
                                    
                                    <option value='{{semaine.debut | date: "%s" }}_{{semaine.fin | date: "%s"}}' data-week-start="{{semaine.debut | date_to_french}}" data-week-end="{{semaine.fin | date_to_french}}"  > {{semaine.debut | date_to_french}} - {{semaine.fin | date_to_french}}</option>
                                {% endfor %}
                
                                
                            </select>
                        </div>
                    </div>
                </span>
            -->
            <h2 class="title is-4">Matchs de la semaine</h2>

            
                <div class="tabs match-conditional ">
                    <ul style="font-size: 1.5rem;font-weight: 600;line-height: 1.125;">
                    <li class="tab is-active" onclick="openTab(event,'home-home')"><a>Domicile</a></li>
                    <li> / </li>
                    <li class="tab " onclick="openTab(event,'home-away')"><a>Extérieur</a></li>

                    </ul>
                </div>

       
            <div id="home-home" class="content-tab">

                    {% assign current_week_number = page.data_current_week_number %}
                    <div class="columns is-multiline">
                        {% for team in site.teams %}	
                            {% for competition in team.competitions %}	
                                {% for match in site.data.ffhb.[competition.file] %}
                                    {% if match.location == 'HOME' %}
                                        {% include widget-ffhb-match-home.html match=match %}
                                    {% endif %}                                    
                            
                                {% endfor %}

                            {% endfor %}
                        {% endfor %}  
                    </div>



                <p id="noMatchContainer" class="is-hidden no-match-conditional" style="font-size: 1.5rem;font-weight: 600;line-height: 1.125;">
                    Pas de match
                </p>
            </div>

            <div id="home-away" class="content-tab" style="display:none">
                
                {% assign current_week_number = page.data_current_week_number %}
                <div class="columns is-multiline">
                    {% for team in site.teams %}	
                        {% for competition in team.competitions %}	
                            {% for match in site.data.ffhb.[competition.file] %}
                            
                                {% if match.location == 'AWAY' %}
                                    {% include widget-ffhb-match-home.html match=match %}
                                {% endif %}                                            
                        
                            {% endfor %}

                        {% endfor %}
                    {% endfor %}  
                </div>

                <p id="noMatchContainer" class="is-hidden no-match-conditional" style="font-size: 1.5rem;font-weight: 600;line-height: 1.125;">
                    Pas de match
                </p>
            </div>

            <span class="is-pulled-right match-conditional">Données FFHB</span>
            <!--<br>
            <div class="buttons">
                <a  href="{{site.url }}/competitions/calendrier/" class="button is-light is-medium">
                    Calendrier complet
                </a>
            
                <a  href="{{site.url }}/competitions/classements/" class="button is-dark is-medium">
                    Classements
                </a>
            </div>
        -->
            

        </div>

        
    </section>

<!--
    <section class="section has-background-light">
        <div class="container">
            {% include home-boutique.html %}


            <div class="columns is-mobile is-centered is-vcentered is-multiline"> 
                <div class="column is-8-tablet is-12-mobile"> 
                    
                    <div class="title">Boutique du club </div> 
                    <div class="subtitle"> 100% en ligne</div> 
                </div> 
                <div class="column is-1-tablet is-3-mobile"> 
                    <figure class="image">
                        <img title="HBC310" alt="HBC310" src="{{ '/assets/images/logo_trans_250.png' | prepend: site.url }}" style="width: 70px;">
                    </figure>
                
            </div>
                <div class="column is-1-tablet is-3-mobile"> 

                    <figure class="image">
                        <img title="SPORT 2000, partenaire du HBC310" alt="SPORT 2000, partenaire du HBC310" src="{{ '/assets/images/Logo-Sport-2000.png' | prepend: site.url }}" style="width: 70px;">
                    </figure>
                        
                    
                </div>  
                <div class="column is-1-tablet is-3-mobile"> 
                
                    <figure class="image">
                        <img class="is-rounded" title="KEMPA, partenaire du HBC310" alt="KEMPA, partenaire du HBC310" src="{{ '/assets/images/partners/kempa.webp' | prepend: site.url }}" style="width: 70px;">
                    </figure>                        
                    
                </div>
                
            </div>

            <div class="title-wrapper has-text-centered">
                <div class="buttons">
                <a  href="{{site.url}}/boutique/" class="button is-primary is-medium">
                    J'accède à la boutique
                </a>
                </div>
            </div>

            
        </div>
    </section>
-->




        
    


    {% include hero-social-home.html %}

    {% unless page.hide_partners_footer %}
        {% include partners-footer-home.html %}
    {% endunless %}

    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}

    {%- include footer-scripts.html -%}
  </body>

 

</html>

