---
layout: page
---




<div class="container">

    
    


    <div class="columns is-mobile is-multiline is-vcentered">
        <div class="column is-half-desktop is-12-touch">
            {{ content }}

        </div>
        <div class="column is-half-desktop is-12-touch">

            <section class="section">
                <div class="container is-fluid">
                        {%if page.images.size == 1 %}
                        
                        <figure class="image is-5by4" style="margin: 0px;">
                            <img src="{{site.url}}{{page.images[0]}}" class="{{classPlus}}" onclick="openModal();currentSlide(0)">   
                        </figure>

                        {% else %}
                            <div class="columns is-multiline is-mobile">
                                {% for img in page.images limit:4 %}
                                    <div class="column is-6-desktop is-12-touch">
                                    
                                    {% if forloop.index0 == 3 %}
                                        <div class="container-galerie-plus" onclick="openModal();currentSlide({{ forloop.index }})">
                                            <figure class="image is-5by4" style="margin: 0px;">
                                                <img src="{{site.url}}{{img}}" class="galerie-plus" >    
                                            </figure>
                                            <div class="centered-galerie-plus"><br>+{{page.images.size| minus:3}}</div>
                                        </div>
                                    {% else %}
                                        <div class="container" >
                                            <figure class="image is-5by4" style="margin: 0px;">
                                                <img src="{{site.url}}{{img}}" class="{{classPlus}}" onclick="openModal();currentSlide({{ forloop.index }})">    
                                            </figure>
                                        </div>
                                    {% endif %}
                                    </div>
                                {%endfor%}
                            </div>
                        {% endif %}

                    
        
                    <div class="modal" id="myModal" style="
                    justify-content: center;
                    align-items: center;">
                        <div class="modal-background"></div>

                        
                        <div class="modal-card " style="padding: 70px 0">
                            
                              <section class="modal-card-body">
                                {% for img in page.images %}
                                  <div class="item-slide">
                                    <img src="{{site.url}}{{img}}" style="width: 100%; max-height: 560; margin-top: 0px;">
                                    
                                    </div>
                                    {% endfor%}    
                              </section>
                              {%if page.images.size > 1 %}
                                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            {% endif %}
                        </div>                              
                        

                        <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>

                    </div>

                      
                    
                </div>
                    
            </section>

        </div>
        
    </div>

    <p>Publié par {{ page.author }}, le {{ page.date | date_to_french }} </p>


    <div class="columns is-mobile is-multiline is-vcentered">
        <div class="column is-12" >

            {% if page.google-form and page.google-form != "" %} 

            <div class="column is-half-desktop is-12-touch">
                <iframe src="https://docs.google.com/forms/d/e/{{page.google-form}}/viewform?embedded=true" 
                width="640" height="378" frameborder="0" marginheight="0" marginwidth="0">Chargement du formulaire en cours…</iframe>
            </div>
            {% endif %}
            
            {% if page.formulaire-helloasso and page.formulaire-helloasso != "" %} 
                {% include widget-helloasso.html  url=page.formulaire-helloasso %}
            {%endif %}

        </div>
    </div>




    <div class="container">
        
            
            <div class="columns">
                <div class="column is-half is-mobile">
                    {% if page.previous.url %}
                        <section class="hero is-light">
                            <div class="hero-body">
                                <Strong>
                                    <p>
                                        Article précédent 
                                    </p> 
                                    <p>
                                    <span class="ellipsis is-ellipsis-1 ">{{page.previous.title}}</span>
                                    </p>
                                </Strong>
                                <p>
                                    {{page.previous.content | strip_html | truncatewords: 20}}
                                </p>
                            </div>

                            <div class="hero-foot">
                                <div class="container" style="padding-left: 24px;padding-bottom: 24px;">
                                    <a href="{{site.url}}{{page.previous.url}}" class="button is-primary">Plus d'infos</a>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                </div>

                <div class="column is-half is-mobile">
                    {% if page.next.url %}
                        <section class="hero is-light">
                            <div class="hero-body">
                                <Strong>
                                    <p>
                                        Article suivant 
                                    </p> 
                                    <p>
                                    <span class="ellipsis is-ellipsis-1 ">{{page.next.title}}</span>
                                    </p>
                                </Strong>
                                <p>
                                    {{page.next.content | strip_html | truncatewords: 20}}
                                </p>
                            </div>
                            <div class="hero-foot">
                                
                                    <div class="container" style="padding-left: 24px;padding-bottom: 24px;">
                                        <a href="{{site.url}}{{page.next.url}}" class="button is-primary">Plus d'infos</a>
                                    </div>
                                

                            </div>
                        </section>
                    {% endif %}

                </div>
            </div>
            
          
        
        </div>
    
    
</div>

