---
layout: page
---

<div class="columns is-multiline">
  {% for team in site.teams %}	
    {% for equipeIndex in team.equipes %}	
      <div id="calendrier-{{team.code}}-{{equipeIndex.equipe}}" class="column is-6-tablet is-12-mobile content-filter">
      
        {% include widget-ffhb-matchs.html with-border=true filtre-too-far=true only-away=false only-home=false affiche-equpe=true filtre-team=team.code filtre-equipe=equipeIndex.equipe masqueDejaAffiche=true afficherPoolTitle=false masqueDejaJoues=false show-logo-ligue=false with-pagination=true pagination=10 filtre-have-results=true %}
      </div>
    {% endfor %}
  {% endfor %}  
</div>