---
layout: page
show_sidebar: false
menubar: team_menu

 
---
{% if page.sexe == "F" %}
    {%assign style = "dark"%}
{% else %}
    {%assign style = "primary"%}
{% endif %}


<div class="container" >
  <div class="columns is-multiline is-vcentered">
    
    <div class="column is-6-desktop is-12-touch">
      {% if page.images == null %}
        <img alt="HBC310 - {{page.title}}" title="HBC310 - {{page.title}}" src='{{ "/uploads/images/pages/equipes/default.png" | prepend: site.url }}' loading="lazy"/>
      {% else %}
        {% for imageEquipe in page.images %}
          
          {% if forloop.first == true %}
            {% assign affichePhoto = "" %}
            {% else %}
              {% assign affichePhoto = "is-hidden" %}
          {% endif %}

          <span id="photo-equipe{{forloop.index}}" class="content-filter {{affichePhoto}}">
            
            <img alt="HBC310 - {{page.title}} - Equipe {{ forloop.index }}" title="HBC310 - {{page.title}} - Equipe {{ forloop.index }}" src="{{site.url}}{{imageEquipe}}"  loading="lazy"/>
          </span>
        {% endfor %}
        <span id="photo-equipeCoupe" class="content-filter is-hidden">
            
          <img alt="HBC310 - {{page.title}} - Equipe Coupe" title="HBC310 - {{page.title}} - Equipe Coupe" src="{{site.url}}{{page.images | first}}"  loading="lazy"/>
        </span>

        
      {% endif %}
    </div>

    <div class="column is-6-desktop is-12-touch">
      {% include blocs-team.html %}
    </div>

  </div>
</div>
<br>





<div class="container">

  {% for competition in page.competitions %}
    <div class="container">
      <section class="hero is-{{style}} has-{{style}}-effect"> 
         <div class="hero-body"> 
              <div class="container"> 
                  <div class="columns is-mobile is-centered is-vcentered is-multiline"> 
                      <div class="column is-8-tablet is-12-mobile"> 
                          <div class="title is-4" id="equipe{{competition.equipe}}" name="equipe{{competition.equipe}}"> Equipe{{competition.equipe}} 

                            {% if competition.name %}
                             - {{competition.name}}
                            {% endif %}
                          </div> 
                          <div class="subtitle is-5"> {{site.data.ffhb.[competition.file][0].competition_name}} </div> 
                      </div> 
                      <div class="column is-4-tablet is-6-mobile"> 
                        <div class="buttons is-pulled-right">
                          {% unless page.hide_classement %}
                            <a href="#classement{{competition.equipe}}" class="button is-light is-hidden-desktop">Classement</a>
                          {% endunless %}
                          <a href="{{competition.url}}" target="_blank" class="button is-light ">
                            > Site de la FFHB
                          </a>
                        </div> 
                      </div> 
                      
                  </div>
              </div>
          </div>
      </section>
      
  </div>
  <br>

  <div class="container">



    <div class="columns is-multiline">
      {% assign colWidth = 5 %}
      {% if page.hide_classement %}
          {% assign colWidth = 12 %}
      {% endif %}

      <div class="column is-{{colWidth}}-desktop is-12-touch">
        <h3 class="is-hidden-desktop">Calendrier</h3>
        <div class="columns is-multiline">
          {% for match in site.data.ffhb.[competition.file] %}
            {% include widget-ffhb-match-team.html match=match title=competitionTitle %}
          {% endfor %}
        </div>
      </div>
      {% unless page.hide_classement %}
        <div class="column is-7-desktop is-12-touch">
          <h3 id="classement{{competition.equipe}}" name="classement{{competition.equipe}}" class="is-hidden-desktop">Classement</h3>
            {% include widget-ffhb-classement.html %}
        </div>
      {%endunless %}
    </div>
  </div>
  <br>
  

  {% endfor %}
  
</div>









